doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')

	body(paddingwidth='0', paddingheight='0', style='padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;background-color:white color:black;', offset='0', toppadding='0', leftpadding='0')

		table.tableContent(border='0', cellspacing='0', cellpadding='0', align='center', bgcolor='white', style='font-family: Helvetica, Arial,serif;')
			tr
				td
					table(width='650', border='0', cellspacing='0', cellpadding='0', align='center')
						tr
							td
								table(width='650', border='0', cellspacing='0', cellpadding='0', align='center', )
									tr
										td(valign='top', align='center')
											//.contentEditableContainer.contentImageEditable
												.contentEditable
													//- img(src='/img/mail-header-new.png', width='100%',alt='', data-default='placeholder', data-max-width='650')
									tr
										td(height='20')
									tr
										td.movableContentContainer(valign='top')
													table(cellspacing="15")
												tbody(style="font-size : 15px")
													tr
														td(style='text-align: center;font-family: sans-serif;font-size: 18px;')
															h3 Reset your password
													tr
														td(style="color:black;line-height: 130%;padding: 10px;white-space:pre;")
															| Hello,
															| We received a request to reset the password for your account. To reset your password, click on the button below:
													tr(style="color:black;text-align:center")
														td
															a(href="#{link}" style="text-align:center;font-size:20px;font-family:Helvetica,arial,sans-serif;color:white;font-weight:bold; padding-left: 10px;display:inline-block;min-height:27px;padding : 4px 25px 4px 25px;line-height:27px;border-radius:2px;border-width:1px; background-color:black;" target="_blank") Reset password
													tr
														td(style="color:black;padding:10px 10px 0 10px") Or copy and paste the URL into your browser:
													tr(style="color:black")
														td(width="560px" style='padding:10px;') #{link}
													tr(style="color:black;padding:0 10px")
														td If you did not request this, please ignore this email and your password will remain unchanged. Thanks for using the p5.js Web Editor!
