.about__logo {
  @include themify() {
    & path {
      fill: getThemifyVariable('logo-color');
    }
  }
}

.about__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: #{17 / $base-font-size}rem;
  padding-right: #{78 / $base-font-size}rem;
  padding-bottom: #{20 / $base-font-size}rem;
  padding-left: #{20 / $base-font-size}rem;
  width: #{720 / $base-font-size}rem;
}

.about__content-column {
  display: flex;
  flex-direction: column;
}

.about__content-column-title {
  font-size: #{21 / $base-font-size}rem;
  padding-left: #{17 / $base-font-size}rem;
}

.about__content-column-asterisk {
  padding-right: #{5 / $base-font-size}rem;
  @include themify() {
    & path {
      fill: getThemifyVariable('logo-color');
      stroke: getThemifyVariable('logo-color');
    }
  }
}

.about__content-column-list {
  @include themify() {
    padding-top: #{10 / $base-font-size}rem;
    font-size: #{16 / $base-font-size}rem;
  }
}

.about__version-info {
  @include themify() {
    padding-top: #{8 / $base-font-size}rem;
    font-size: #{16 / $base-font-size}rem;
    span {
      color: getThemifyVariable('logo-color');
    }
    &:first-child {
      padding-top: #{30 /$base-font-size}rem;
    }
  }
  // span {
  //   @include themify() {
  //     fill: getThemifyVariable('logo-color');
  //   }
  // }
}

.about__footer {
  display: flex;
  justify-content: space-between;
  padding-top: #{18 / $base-font-size}rem;
  padding-right: #{20 / $base-font-size}rem;
  padding-bottom: #{21 / $base-font-size}rem;
  padding-left: #{291 / $base-font-size}rem;
  width: 100%;
}

.about__footer-list {
  padding-top: #{12 / $base-font-size}rem;
}
