.about__logo {
  @include themify() {
    & path {
      fill: getThemifyVariable('logo-color');
    }
  }
}



.about__content {
  display: grid;
  grid-template-columns: minmax(auto,200px) minmax(auto,200px) minmax(auto,200px);
  grid-template-rows: auto auto;
  padding-top: #{15 / $base-font-size}rem;
  padding-right: #{25 / $base-font-size}rem;
  padding-bottom: #{25 / $base-font-size}rem;
  padding-left: #{25 / $base-font-size}rem;
  gap: 15px;
}

.about__content-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}


@media (max-width:490px)
{
  .about__content {
    display: grid;
    grid-template-columns: minmax(auto,200px) minmax(auto,200px);
    grid-template-rows: auto auto;
  }

}

.about__content-column-title {
  font-size: #{21 / $base-font-size}rem;
  padding-left: #{17 / $base-font-size}rem;
}

.about__content-column-asterisk {
  padding-right: #{5 / $base-font-size}rem;
  @include themify() {
    & path {
      fill: getThemifyVariable('logo-color');
      stroke: getThemifyVariable('logo-color');
    }
  }
}

.about__content-column-list {
  @include themify() {
    padding-top: #{10 / $base-font-size}rem;
    font-size: #{16 / $base-font-size}rem;
  }
}

.about__version-info {
  @include themify() {
    padding-top: #{8 / $base-font-size}rem;
    font-size: #{16 / $base-font-size}rem;
    span {
      color: getThemifyVariable('logo-color');
    }
    &:first-child {
      padding-top: #{30 /$base-font-size}rem;
    }
  }

}

.about__footer-Report
{
padding-top: #{12 / $base-font-size}rem;
}

.about__footer-Contribute
{
  padding-top: #{12 / $base-font-size}rem;
}
