.account-settings__container {
  @include themify() {
    color: getThemifyVariable('primary-text-color');
    background-color: getThemifyVariable('background-color');
  }
  min-height: 100%;
}

.account-settings {
  max-width: #{700 / $base-font-size}rem;
  align-self: center;
  padding: 0 #{10 / $base-font-size}rem;
  margin: 0 auto;
}

.account__tabs {
  padding-top: #{20 / $base-font-size}rem;
}

.account__social-text {
  padding-bottom: #{15 / $base-font-size}rem;
}


.account__social-stack {
  display: flex;
}

.account__social-stack > * {
  margin-right: #{15 / $base-font-size}rem;
}

// @media screen and (max-width: 767px) {
//   .social_button_github,
//   .social_button_google {
//     display: block;
//     width: 100%;
//     margin-bottom: 10px;
//   }
// }

// @media screen and (min-width: 10%) {
//   .social_button_github,
//   .social_button_google {
//     display: inline-block;
//     width: auto;
//     margin-bottom: 0;
//   }
// }

