.asset-table-container {
  overflow-y: auto;
  max-width: 100%;
  min-height: 100%;
}

.asset-table {
  position: relative;
}

.asset-table__row {
  margin: #{10 / $base-font-size}rem;
  height: #{72 / $base-font-size}rem;
  font-size: #{16 / $base-font-size}rem;
}

.asset-table__row:nth-child(odd) {
  @include themify() {
    background: getThemifyVariable('table-row-stripe-color');
  }
}

.asset-table__row > th:nth-child(1) {
  padding-left: #{12 / $base-font-size}rem;
}

.asset-table__row a {
  @include themify() {
    color: getThemifyVariable('primary-text-color');
  }
}

.asset-table__total {
  padding: 0 #{20 / $base-font-size}rem;
  position: sticky;
  top: 0; 
  @include themify() {
    background-color: getThemifyVariable('background-color');
  }
}

.asset-table__dropdown-button {
  width:#{25 / $base-font-size}rem;
  height:#{25 / $base-font-size}rem;

  @include themify() {
    & polygon, & path {
      fill: getThemifyVariable('inactive-text-color');
    }
  }
}

.asset-table__action-dialogue {
  @extend %dropdown-open-right;
  top: 63%;
  right: calc(100% - 26px);
}

.asset-table__action-option {
  font-size: #{12 / $base-font-size}rem;
}
