.asset-table-container {
  // flex: 1 1 0%;
  overflow-y: scroll;
  max-width: 100%;
  width: #{1000 / $base-font-size}rem;
  min-height: #{400 / $base-font-size}rem;
}

.asset-table {
  width: 100%;
  padding: #{10 / $base-font-size}rem 0;
  max-height: 100%;
  border-spacing: 0;
  & .asset-list__delete-column {
    width: #{23 / $base-font-size}rem;
  }

  & thead {
    font-size: #{12 / $base-font-size}rem;
    @include themify() {
      color: getThemifyVariable('inactive-text-color')
    }
  }

  & th {
    height: #{32 / $base-font-size}rem;
    font-weight: normal;
  }
}

.asset-table__row {
  margin: #{10 / $base-font-size}rem;
  height: #{72 / $base-font-size}rem;
  font-size: #{16 / $base-font-size}rem;

  &:nth-child(odd) {
    @include themify() {
      background: getThemifyVariable('table-row-stripe-color');
    }
  }

  & a {
    @include themify() {
      color: getThemifyVariable('primary-text-color');
    }
  }

  & td:first-child {
    padding-left: #{10 / $base-font-size}rem;
  }
}

.asset-table__empty {
  text-align: center;
  font-size: #{16 / $base-font-size}rem;
  padding: #{42 / $base-font-size}rem 0;
}
