.asset-table-container {
  overflow-y: auto;
  max-width: 100%;
  min-height: #{400 / $base-font-size}rem;
}

.asset-table {
  width: 100%;
  
  max-height: 100%;
  border-spacing: 0;
  position: relative;
  & .asset-table__dropdown-column {
    width: #{60 / $base-font-size}rem;
    position: relative;
  }
}

.asset-table thead th {
  height: #{32 / $base-font-size}rem;
  position: sticky;
  top: 0;
  @include themify() {
    background-color: getThemifyVariable('background-color');
  }
}

.asset-table thead th:nth-child(1){
  padding-left: #{12 / $base-font-size}rem;
}

.asset-table__row {
  margin: #{10 / $base-font-size}rem;
  height: #{72 / $base-font-size}rem;
  font-size: #{16 / $base-font-size}rem;
}

.asset-table__row:nth-child(odd) {
  @include themify() {
    background: getThemifyVariable('table-row-stripe-color');
  }
}

.asset-table__row > th:nth-child(1) {
  padding-left: #{12 / $base-font-size}rem;
}

.asset-table__row a {
  @include themify() {
    color: getThemifyVariable('primary-text-color');
  }
}

.asset-table thead {
  font-size: #{12 / $base-font-size}rem;
  @include themify() {
    color: getThemifyVariable('inactive-text-color')
  }
}

.asset-table th {
  font-weight: normal;
}

.asset-table__empty {
  text-align: center;
  font-size: #{16 / $base-font-size}rem;
  padding: #{42 / $base-font-size}rem 0;
}

.asset-table__total {
  padding: 0 #{20 / $base-font-size}rem;
  position: sticky;
  top: 0; 
  @include themify() {
    background-color: getThemifyVariable('background-color');
  }
}

.asset-table__dropdown-button {
  width:#{25 / $base-font-size}rem;
  height:#{25 / $base-font-size}rem;

  @include themify() {
    & polygon {
      fill: getThemifyVariable('dropdown-color');
    }
  }
}

.asset-table__action-dialogue {
  @extend %dropdown-open-right;
  top: 63%;
  right: calc(100% - 26px);
}
