@use "sass:math";

.asset-table-container {
  overflow-y: auto;
  max-width: 100%;
  min-height: 100%;
}

.asset-table {
  width: 100%;
  
  max-height: 100%;
  border-spacing: 0;
  position: relative;
  & .asset-table__dropdown-column {
    width: #{math.div(60, $base-font-size)}rem;
    position: relative;
  }
}

.asset-table thead th {
  height: #{math.div(32, $base-font-size)}rem;
  position: sticky;
  top: 0;
  @include themify() {
    background-color: getThemifyVariable('background-color');
  }
}

.asset-table thead th:nth-child(1){
  padding-left: #{math.div(12, $base-font-size)}rem;
}

.asset-table__row {
  margin: #{math.div(10, $base-font-size)}rem;
  height: #{math.div(72, $base-font-size)}rem;
  font-size: #{math.div(16, $base-font-size)}rem;
}

.asset-table__row:nth-child(odd) {
  @include themify() {
    background: getThemifyVariable('table-row-stripe-color');
  }
}

.asset-table__row > th:nth-child(1) {
  padding-left: #{math.div(12, $base-font-size)}rem;
}

.asset-table__row a {
  @include themify() {
    color: getThemifyVariable('primary-text-color');
  }
}

.asset-table thead {
  font-size: #{math.div(12, $base-font-size)}rem;
  @include themify() {
    color: getThemifyVariable('inactive-text-color')
  }
}

.asset-table th {
  font-weight: normal;
}

.asset-table__empty {
  text-align: center;
  font-size: #{math.div(16, $base-font-size)}rem;
  padding: #{math.div(42, $base-font-size)}rem 0;
}

.asset-table__total {
  padding: 0 #{math.div(20, $base-font-size)}rem;
  position: sticky;
  top: 0; 
  @include themify() {
    background-color: getThemifyVariable('background-color');
  }
}
