.classroom-list {
  @extend %modal;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  width: #{825 / $base-font-size}rem;
  height: 80%;
  outline: none;
}

.classroom-list__header {
  display: flex;
  justify-content: space-between;
}

.classroom-list__header-title {  
  padding: #{40 / $base-font-size}rem #{16 / $base-font-size}rem #{12 / $base-font-size}rem #{21 / $base-font-size}rem;
}

.classrooms-grid-container {
  flex: 1 0 0%;
  overflow-y: scroll;
}

.classrooms-grid {
  width: 100%;
  padding: #{10 / $base-font-size}rem #{20 / $base-font-size}rem;
  max-height: 100%;
  border-spacing: 0;
  & .sketch-list__trash-column {
    width: #{23 / $base-font-size}rem;
  }
}

.classrooms-grid-tile {
  float: left;
  width: 175px;
  height: 205px;
  margin-right: 17px;
  position: relative;
}

.classrooms-grid-tile-thumbnail {
  width: 175px;
  height: 175px;
  background-color: #AAAAAA;
  padding: 0px;
  background-image: url('http://i.imgur.com/AjyQF5I.png');
  background-size: 100% 100%;
}

.classrooms-grid-tile-thumbnail-buttons {
  width: 100%;
  height: 100%;
  opacity: 0.0;
  position: relative;
  transition: opacity 0.2s;
  &:hover {
    opacity: 1.0;
  }
}
.classrooms-grid-tile-thumbnail-buttons:hover {
    opactiy: 1.0;
}

.classrooms-grid-tile-button-open {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.classrooms-grid-tile-button {
  font-family: 'Material Icons';
  width: 34px;
  height: 34px;
  position: absolute;
  background-color: white;
  opacity: 1.0;
  &:hover {
    opacity: 0.8;
  }
  padding: 0px;
}

.classrooms-grid-tile-button-download {
  left: 0px;
  bottom: 0px;
}

.classrooms-grid-tile-button-delete {
  right: 0px;
  bottom: 0px;
}

.classrooms-grid-tile-button-share {
  right: 0px;
  top: 0px;
}

.classrooms-grid-tile-title {
  width: 120px;
  height: 30px;
  margin-top: 5px;
  font-size: #{13 / $base-font-size}rem;
}

.classroom-list__exit-button {
  @include themify() {
    @extend %icon;
  }
  margin: #{12 / $base-font-size}rem #{16 / $base-font-size}rem;
}

.classroom-actions-ellipsis {
  width: 30px;
  height: 30px;
  margin-left: 145px;
  position: absolute;
  top: 175px;
}

.classroom-actions-popup {
  z-index: 2;
  position: absolute;
  width: 180px;
  height: 242px;
  border-radius: 6px;
  background-color: #ffffff;
  background-color: #ffffff; /* var(--white); */
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px #0f9dd7;
  top: 175px;
  left: -3px;
  padding-left: 16px;
  padding-top: 4px;
  display: none;
}

.classroom-actions-popup-label {
  width: 151px;
  height: 32px;
  font-size: 12px;
  line-height: 2.67;
  text-align: left;
  color: #757575;
  margin: 0px;
  padding: 0px;
}

.classroom-actions-popup-hr {
  width: 148px;
  height: 1px;
  border-top: 1px dashed #b7b7b7;
}

.classroom-actions-popup-close {
  width: 24px;
  height: 24px;
  float: right;
  padding: 0px;
  margin-right: 12px;
  margin-top: 3px;
}

.visibility-toggle .classroom-list__trash-button {
  @extend %hidden-element;
  width:#{20 / $base-font-size}rem;
  height:#{20 / $base-font-size}rem;
}

.visibility-toggle:hover .classroom-list__trash-button {
   @include themify() {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: initial;
    left: 0;
    top: 0;
      & g {
        opacity: 1;
        fill: getThemifyVariable('icon-hover-color');
      }
  }
}

.material-icons.md-16 { 
  opacity: 0.54;
  color: #333333;
  font-style: normal;
  font-weight: 400;
  font-size: #{24 / $base-font-size}rem;
}

.material-icons.md-20 { 
  color: #ed225d;
  font-style: normal;
  font-weight: 400;
  font-size: #{20 / $base-font-size}rem;
}

.material-icons.md-22 {
  color: #414141;
  font-style: normal;
  font-weight: 400;
  font-size: #{20 / $base-font-size}rem;
}
