$CONSOLE_FEED_WITHOUT_ICONS: (
  LOG_WARN_ICON: 'none',
  LOG_ERROR_ICON: 'none',
  LOG_DEBUG_ICON: 'none',
  LOG_INFO_ICON: 'none'
);

$CONSOLE_FEED_LIGHT_STYLES: (
  BASE_BACKGROUND_COLOR: '',
  LOG_ERROR_BACKGROUND: 'hsl(0, 100%, 97%)',
  LOG_ERROR_COLOR: '#D11518',
  LOG_ERROR_BORDER: 'hsl(0, 100%, 92%)',
  LOG_WARN_BACKGROUND: 'hsl(50, 100%, 95%)',
  LOG_WARN_COLOR: '#996B00',
  LOG_WARN_BORDER: 'hsl(50, 100%, 88%)',
  LOG_INFO_COLOR: '#4D4D4D',
  LOG_DEBUG_COLOR: '#0071AD',
  LOG_DEBUG_BACKGROUND: '#D6F1FF',
  LOG_DEBUG_BORDER: '#C2EBFF',
  LOG_COLOR: '#4D4D4D'
);

$CONSOLE_FEED_DARK_STYLES: (
  BASE_BACKGROUND_COLOR: '',
  BASE_COLOR: 'white',
  OBJECT_NAME_COLOR: 'white',
  OBJECT_VALUE_NULL_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_UNDEFINED_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_REGEXP_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_STRING_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_SYMBOL_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_NUMBER_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_BOOLEAN_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_FUNCTION_KEYWORD_COLOR: 'hsl(230, 100%, 80%)',
  LOG_ERROR_BACKGROUND: '#1F0000',
  LOG_ERROR_COLOR: '#DF3A3D',
  LOG_WARN_BACKGROUND: 'hsl(50, 100%, 10%)',
  LOG_WARN_COLOR: '#F5BC38',
  LOG_INFO_COLOR: '#D9D9D9',
  LOG_INFO_BORDER: '#4D4D4D',
  LOG_COLOR: '#D9D9D9',
  LOG_DEBUG_COLOR: '#0C99E2',
  LOG_DEBUG_BACKGROUND: '#05232E',
  LOG_DEBUG_BORDER: '#0C546E',
  TABLE_BORDER_COLOR: 'grey',
  TABLE_TH_BACKGROUND_COLOR: 'transparent',
  TABLE_TH_HOVER_COLOR: 'grey',
  TABLE_SORT_ICON_COLOR: 'grey',
  TABLE_DATA_BACKGROUND_IMAGE: 'grey',
  TABLE_DATA_BACKGROUND_SIZE: 'grey'
);

$CONSOLE_FEED_CONTRAST_STYLES: (
  BASE_BACKGROUND_COLOR: '',
  BASE_COLOR: 'white',
  OBJECT_NAME_COLOR: 'white',
  OBJECT_VALUE_NULL_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_UNDEFINED_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_REGEXP_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_STRING_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_SYMBOL_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_NUMBER_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_BOOLEAN_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_FUNCTION_KEYWORD_COLOR: 'hsl(230, 100%, 80%)',
  LOG_ERROR_BACKGROUND: '#1F0000',
  LOG_ERROR_COLOR: '#EA7B7D',
  LOG_WARN_BACKGROUND: 'hsl(50, 100%, 10%)',
  LOG_WARN_COLOR: '#F5BC38',
  LOG_INFO_COLOR: '#D9D9D9',
  LOG_INFO_BORDER: '#4D4D4D',
  LOG_COLOR: '#D9D9D9',
  LOG_DEBUG_COLOR: '#38B6F5',
  LOG_DEBUG_BACKGROUND: '#05232E',
  LOG_DEBUG_BORDER: '#0C546E',
  TABLE_BORDER_COLOR: 'grey',
  TABLE_TH_BACKGROUND_COLOR: 'transparent',
  TABLE_TH_HOVER_COLOR: 'grey',
  TABLE_SORT_ICON_COLOR: 'grey',
  TABLE_DATA_BACKGROUND_IMAGE: 'grey',
  TABLE_DATA_BACKGROUND_SIZE: 'grey'
);