.console__input {
  padding-left: #{20 / $base-font-size}rem;
  position: absolute;
  bottom: 0;
  height: #{22 / $base-font-size}rem;
  width: 100%;
  @include themify() {
    background-color: getThemifyVariable('console-input-background-color');
  }
}

.console__input .console-active__arrow {
  left: #{10 / $base-font-size}rem;
  position: absolute;
  top: #{4 / $base-font-size}rem;
  & svg {
    width: #{6 / $base-font-size}rem;
    height: #{10 / $base-font-size}rem;
  }
  & g {
    @include themify() {
      fill: getThemifyVariable('console-active-arrow-color');  
    }
  }
}

.console__editor {
  margin-left: #{8 / $base-font-size}rem;
  height: #{20 / $base-font-size}rem;
  line-height: #{20 / $base-font-size}rem;
}

.console__editor .CodeMirror {
  border: none;
  font-family: Consolas,Lucida Console,Courier New,monospace;
  @include themify() {
    background-color: getThemifyVariable('console-input-background-color');
  }

  .CodeMirror-line {
    @include themify() {
      color: getThemifyVariable('console-color');
    }
  }
}