$CONSOLE_FEED_WITHOUT_ICONS: (
  LOG_WARN_ICON: 'none',
  LOG_ERROR_ICON: 'none',
  LOG_DEBUG_ICON: 'none',
  LOG_INFO_ICON: 'none'
);

$CONSOLE_FEED_LIGHT_STYLES: (
  BASE_BACKGROUND_COLOR: '',
  LOG_ERROR_BACKGROUND: 'hsl(0, 100%, 97%)',
  LOG_ERROR_COLOR: '#D11518',
  LOG_ERROR_BORDER: 'hsl(0, 100%, 92%)',
  LOG_WARN_BACKGROUND: 'hsl(50, 100%, 95%)',
  LOG_WARN_COLOR: '#FAAF00',
  LOG_WARN_BORDER: 'hsl(50, 100%, 88%)',
  LOG_INFO_COLOR: '#7D7D7D',
  LOG_DEBUG_COLOR: '#007BBB',
  LOG_COLOR: 'rgb(128, 128, 128)'
);

$CONSOLE_FEED_DARK_STYLES: (
  BASE_BACKGROUND_COLOR: '',
  BASE_COLOR: 'white',
  OBJECT_NAME_COLOR: 'white',
  OBJECT_VALUE_NULL_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_UNDEFINED_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_REGEXP_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_STRING_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_SYMBOL_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_NUMBER_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_BOOLEAN_COLOR: 'hsl(230, 100%, 80%)',
  OBJECT_VALUE_FUNCTION_KEYWORD_COLOR: 'hsl(230, 100%, 80%)',
  LOG_ERROR_BACKGROUND: 'hsl(0, 100%, 8%)',
  LOG_ERROR_COLOR: '#F07A7C',
  LOG_WARN_BACKGROUND: 'hsl(50, 100%, 10%)',
  LOG_WARN_COLOR: '#f5bc38',
  LOG_INFO_COLOR: '#a3a3a3',
  LOG_DEBUG_COLOR: '#0c99e2',
  TABLE_BORDER_COLOR: 'grey',
  TABLE_TH_BACKGROUND_COLOR: 'transparent',
  TABLE_TH_HOVER_COLOR: 'grey',
  TABLE_SORT_ICON_COLOR: 'grey',
  TABLE_DATA_BACKGROUND_IMAGE: 'grey',
  TABLE_DATA_BACKGROUND_SIZE: 'grey'
);

$CONSOLE_FEED_CONTRAST_STYLES: $CONSOLE_FEED_DARK_STYLES;