.preview-console {
	width: 100%;
	height: 100%;
	background: $console-light-background-color;
	z-index: 1000;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	& > {
		position:relative;
		text-align:left;
	}

	// assign styles to different types of console messages
	.preview-console__log {
		color: $dark-secondary-text-color;
		flex: 1 0 auto;
	}

	.preview-console__error {
		color: $console-error-color;
		flex: 1 0 auto;
	}

	.preview-console__warn {
		color: $console-warn-color;
		flex: 1 0 auto;
	}
}

.preview-console__header {
	background-color: $console-header-background-color;
	color: $console-header-color;
	padding: #{5 / $base-font-size}rem;
	display: flex;
	justify-content: space-between;
}

.preview-console__header-title {
	font-size: #{16 / $base-font-size}rem;
	font-weight: normal;
}

.preview-console__messages {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	flex: 1 0 0%;

}

.preview-console__collapse {
	@extend %icon;
	.preview-console--collapsed & {
		display: none;
	}
}

.preview-console__expand {
	@extend %icon;
	display: none;
	.preview-console--collapsed & {
		display: inline-block;
	}
}
