.CodeMirror {
  @include themify() {
  	border: 1px solid getThemifyVariable('ide-border-color');
  }
  font-family: Inconsolata, monospace;
  height: 100%;
}

.CodeMirror-linenumbers {
	padding-right: #{10 / $base-font-size}rem;

}

.CodeMirror-linenumber {
	width: #{35 / $base-font-size}rem;
  left: 0 !important;
  @include themify() {
    color: getThemifyVariable('inactive-text-color');
  }
}

.CodeMirror-lines {
	padding-top: #{25 / $base-font-size}rem;
}

.CodeMirror-line {
	padding-left: #{5 / $base-font-size}rem;
}

.CodeMirror-gutter-wrapper {
  right: 100%;
  top: 0;
  bottom: 0;
}

.CodeMirror-lint-marker-warning, .CodeMirror-lint-marker-error, .CodeMirror-lint-marker-multiple {
  background-image: none;
  width: #{48 / $base-font-size}rem;
  position: absolute;
  height: 100%;
}

.CodeMirror-lint-message-error, .CodeMirror-lint-message-warning {
  background-image: none;
  padding-left: inherit;
}

.CodeMirror-lint-marker-warning {
  background-color: rgb(255, 190, 5);
}

.CodeMirror-lint-marker-error {
  background-color: rgb(255, 95, 82);
}

.CodeMirror-gutter-elt:not(.CodeMirror-linenumber) {
  opacity: 0.3;
  width: #{48 / $base-font-size}rem !important;
  height: 100%;
  // background-color: rgb(255, 95, 82);
}

.CodeMirror-lint-tooltip {
  @include themify() {
    background-color: getThemifyVariable('modal-background-color');
    border: 1px solid getThemifyVariable('modal-border-color');
    box-shadow: 0 12px 12px getThemifyVariable('shadow-color');
    color: getThemifyVariable('primary-text-color');
  }
  border-radius: 2px;
  font-family: Montserrat, sans-serif;
}

.CodeMirror-gutters {
  @include themify() {
    background-color: getThemifyVariable('editor-gutter-color');
    border-color: getThemifyVariable('ide-border-color');
  }
  // left: 0 !important;
  width: #{48 / $base-font-size}rem;
}


.editor__options-button {
  @include themify() {
    @extend %icon;
  }
  position: absolute;
  top: 0;
  right: #{1.5 / $base-font-size}rem; // move left to avoid vertical scroll bar
  z-index: 1;
}


.editor__options {
  display: none;
  @extend %modal;
  position: absolute;
  top: #{20 / $base-font-size}rem;
  right: #{5 / $base-font-size}rem;
  padding: #{10 / $base-font-size}rem;

  .editor--options & {
    display: block;
  }
}

.editor__file-name {
  @include themify() {
    color: getThemifyVariable('inactive-text-color');
  }
  padding: 0 0 #{7 / $base-font-size}rem #{56 / $base-font-size}rem;
  font-size: #{12 / $base-font-size}rem;
  display: flex;
  justify-content: space-between;
}
