.CodeMirror {
  @include themify() {
  	border: 1px solid getThemifyVariable('ide-border-color');
  }
  font-family: Inconsolata, monospace;
  height: 100%;
}

.CodeMirror-linenumbers {
	padding-right: #{10 / $base-font-size}rem;
}

.CodeMirror-linenumber {
	width: #{35 / $base-font-size}rem;
}

.CodeMirror-lines {
	padding-top: #{25 / $base-font-size}rem;
}

.CodeMirror-line {
	padding-left: #{5 / $base-font-size}rem;
}

.CodeMirror-gutter-wrapper {
  right: 100%;
  top: 0;
  bottom: 0;
}

.CodeMirror-lint-marker-warning, .CodeMirror-lint-marker-error, .CodeMirror-lint-marker-multiple {
  background-image: none;
  width: 70px;
  position: absolute;
  height: 100%;
}

.CodeMirror-lint-message-error, .CodeMirror-lint-message-warning {
  background-image: none;
  padding-left: inherit;
}

.CodeMirror-lint-marker-warning {
  background-color: rgb(255, 190, 5);
}

.CodeMirror-lint-marker-error {
  background-color: rgb(255, 95, 82);
}

.CodeMirror-gutter-elt:not(.CodeMirror-linenumber) {
  opacity: 0.3;
  width: 70px !important;
  height: 100%;
  // background-color: rgb(255, 95, 82);
}

.CodeMirror-lint-tooltip {
  @include themify() {
    background-color: getThemifyVariable('modal-background-color');
    border: 1px solid getThemifyVariable('modal-border-color');
    box-shadow: 0 12px 12px getThemifyVariable('shadow-color');
    color: getThemifyVariable('primary-text-color');
  }
  border-radius: 2px;
  font-family: 'Avenir Next', Montserrat, sans-serif;
}

.CodeMirror-gutters {
  @include themify() {
    background-color: getThemifyVariable('editor-gutter-color');
    border-color: getThemifyVariable('ide-border-color');
  }
  // left: 0 !important;
}

.editor__options-button {
  @include themify() {
    @extend %icon;
  }
  position: absolute;
  top: #{5 / $base-font-size}rem;
  // right: #{5 / $base-font-size}rem;
  right: #{5 / $base-font-size * 4}rem; // move a little left to avoid vertical scroll bar
  z-index: 1;
}

.editor__options {
  display: none;
  @extend %modal;
  position: absolute;
  top: #{20 / $base-font-size}rem;
  right: #{5 / $base-font-size}rem;
  padding: #{10 / $base-font-size}rem;

  .editor--options & {
    display: block;
  }
}

.lint-error {
  font-family: Inconsolata, monospace;
  font-size: 100%;
  background: rgba($console-error-color, 0.3);
  color: $console-error-color;
  padding: 2px 5px 3px;
}
