@use "sass:math";

.feedback__content {
  display: flex;
  width: #{math.div(650, $base-font-size)}rem;
  padding-top: #{math.div(17, $base-font-size)}rem;
  padding-right: #{math.div(20, $base-font-size)}rem;
  padding-bottom: #{math.div(20, $base-font-size)}rem;
  padding-left: #{math.div(20, $base-font-size)}rem;
}

.feedback__content-pane {
  flex: 1;
  & + & {
    margin-left: #{math.div(20, $base-font-size)}rem;
  }
}

.feedback__content-pane-header {
  margin-bottom: #{math.div(20, $base-font-size)}rem;
}

.feedback__content-pane-copy {
  margin-bottom: #{math.div(20, $base-font-size)}rem;
}

.feedback__github-logo svg {
  width: #{math.div(12, $base-font-size)}rem;
  height: #{math.div(12, $base-font-size)}rem;
  @include themify() {
    fill: getThemifyVariable('inactive-text-color');
  }
}

.feedback__github-link:hover svg {
  @include themify() {
    fill: getThemifyVariable('primary-text-color');
  }
}