.form-container {
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
  align-items: center;
}

.form-container--align-left {
  text-align: left;
}

.form-container--align-top {
  height: unset;
}

.form-container__header {
	width: 100%;
	padding: #{15 / $base-font-size}rem #{34 / $base-font-size}rem;
	display: flex;
  justify-content: space-between;
}

.form-container__content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-container--align-left .form-container__content {
  align-items: left;
}

.form-container__title {
	font-weight: normal;
	@include themify() {
    color: getThemifyVariable('form-title-color')
  }
}

.form-container__context {
  @include themify() {
    color: getThemifyVariable('secondary-text-color')
  }
}

.form-container__divider {
  padding: #{10 / $base-font-size}rem 0;
}

.form-container__logo-button {
  @include icon();
}

.form-container__exit-button {
	@include icon();
}
