.fundraiser {
    padding: #{20 / $base-font-size}rem;
    margin-right: #{20 / $base-font-size}rem;
    padding-bottom: #{40 / $base-font-size}rem;
    width: #{500 / $base-font-size}rem;
    text-align: center;
    overflow-y: auto;
}

.fundraiser__description {
    margin: #{20 / $base-font-size}rem 0;
    font-size: #{20 / $base-font-size}rem;
}