.github-button {
  @include themify() {
    @extend %button;
    & path {
      color: getThemifyVariable('primary-text-color');
    }
    &:hover path, &:active path {
      fill: $white;
    }
    &:hover, &:active {
      background-color: getThemifyVariable('secondary-text-color');
      border-color: getThemifyVariable('secondary-text-color');
    }
  }
  width: #{300 / $base-font-size}rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-icon {
  margin-right: #{10 / $base-font-size}rem;
}
