.github-button,
.google-button {
  @include themify() {
    @extend %button;
    & path {
      color: getThemifyVariable('primary-text-color');
    }
    &:hover path, &:active path {
      fill: $white;
    }
    &:hover, &:active {
      color: getThemifyVariable('button-hover-color');
      background-color: getThemifyVariable('button-background-hover-color');
      border-color: getThemifyVariable('button-background-hover-color');
    }
  }
  width: #{300 / $base-font-size}rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & + & {
    margin-top: #{10 / $base-font-size}rem;
  }
}

.github-icon {
  margin-right: #{10 / $base-font-size}rem;
}

.google-icon {
  width: #{32 / $base-font-size}rem;
  height: #{32 / $base-font-size}rem;
  margin-right: #{10 / $base-font-size}rem;
}