@use "sass:math";

.cm-tooltip-autocomplete.CodeMirror-hints {
  box-shadow: 0 0 #{math.div(18, $base-font-size)}rem 0 rgba(0, 0, 0, 0.16);
  border: #{math.div(1, $base-font-size)}rem solid #A6A6A6;
  font-family: Inconsolata, monospace;
  
  @include themify() {
    .cm-completionInfo {
      background: getThemifyVariable('hint-arrow-background-color');
      height: 1.2em;
      left: auto;
      right: 0px;
      padding: 0 6px;
      white-space: nowrap;
      
      a {
        color: getThemifyVariable('hint-arrow-color');
      }

      &:hover, &:active, &.focused-hint-link {
        background: getThemifyVariable('hint-arrow-background-active-color');
      }

      &.focused-hint-link {
        outline: #{math.div(3, $base-font-size)}rem solid getThemifyVariable('hint-arrow-focus-outline-color');
        outline-offset: #{math.div(-3, $base-font-size)}rem;
      }
    }

    .hint-hidden {
      @extend %hidden-element;
      display: none;
    }
  }

  .CodeMirror-hint.blacklisted {
    height: auto;
    min-height: 3.2rem; // enough to show the warning + content
  }
}
