.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 0;

  box-shadow: 0 0 #{18 / $base-font-size}rem 0 rgba(0, 0, 0, 0.16);
  border: #{1 / $base-font-size}rem solid #A6A6A6;

  font-size: 100%;
  font-family: Inconsolata, monospace;

  width: 16rem;
  max-height: 20rem;
  overflow-y: auto;

  transform-origin: top left;

  @include themify() {
    background: getThemifyVariable('hint-background-color');

    .CodeMirror-hint {
      color: getThemifyVariable('hint-text-color');
      border-bottom: getThemifyVariable('hint-item-border-bottom');
    }
  
    .fun-name {
      color: getThemifyVariable('hint-fun-text-color');
    }
  
    .var-name {
      color: getThemifyVariable('hint-var-text-color');
    }
  
    .hint-type {
      color: getThemifyVariable('hint-type-text-color');
    }
  
    a {
      color: getThemifyVariable('hint-arrow-color');
      background: getThemifyVariable('hint-arrow-background-color');

      &:hover, &:active {
        background: getThemifyVariable('hint-arrow-background-active-color');
      }

      &.focused-hint-link {
        outline: 2px solid getThemifyVariable('hint-arrow-focus-outline-color');
        outline-offset: -2px;
      }
    }
  
    li.CodeMirror-hint-active {
      color: getThemifyVariable('hint-item-active-text-color');
      background: getThemifyVariable('hint-item-active-background-color');
      outline: getThemifyVariable('hint-item-active-outline');
      outline-offset: getThemifyVariable('hint-item-active-outline-offset');
  
      .hint-type {
        color: getThemifyVariable('hint-item-active-type-text-color');
      }

      &.unfocused {
        background: getThemifyVariable('hint-background-color') !important;
        outline: unset !important;

        .hint-type {
          color: getThemifyVariable('hint-type-text-color') !important;
        }
      }
    }
  
    .CodeMirror-hint:hover:not(.CodeMirror-hint-active) {
      background: getThemifyVariable('hint-item-hover-background-color');
    }
  }

  .CodeMirror-hint {
    position: relative;
    margin: 0;
    padding: 0.5rem 0 0.5rem #{5 / $base-font-size}rem;
    height: 2rem;
    font-size: inherit;
    white-space: pre;
    cursor: pointer;
    border-bottom: #{1 / $base-font-size}rem solid;
  
    .hint-name{
      font-weight: bold;
    }
  
    .hint-type {
      float: right;
      margin: 0 calc(2rem + #{5 / $base-font-size}rem) 0 0;
    }

    .hint-hidden {
      @extend %hidden-element;
    }
  
    a {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: calc(2rem - #{1 / $base-font-size}rem);
      margin: 0;
      padding-top: 0.4rem;
      text-align: center;
      outline: none;
      z-index: 1;
    }
  
    a:focus, a:active {
      outline: 0;
    }
  }
}
