.keyboard-shortcuts {
  padding: #{20 / $base-font-size}rem;
  padding-bottom: #{40 / $base-font-size}rem;
  width: #{450 / $base-font-size}rem;
}

.keyboard-shortcut-item {
  display: flex;
  & + & {
    margin-top: #{10 / $base-font-size}rem;
  }
  align-items: baseline;
}

.keyboard-shortcut__command {
  width: 50%;
  font-weight: bold;
  text-align: right;
  padding-right: #{10 / $base-font-size}rem;
}
