.library-manager {
    height: 50%;
    width: 100%;
    border-top: 1px solid gray;
    .sidebar--contracted & {
        display: none;
    }
}

.library-item {
    padding-left: 1.583rem;
    padding-top: 2px;
    padding-bottom: 2px;
}

.library-title {
    font-size: 14px;
    padding: 2px; 
    padding-left: 1.583rem;
}