.loader {
	width: #{80 / $base-font-size }rem;
	height: #{80 /  $base-font-size}rem;

	position: relative;
	margin: #{100 /  $base-font-size}rem auto;
}

.loader__circle1,
.loader__circle2 {
	width: 100%;
	height: 100%;
	border-radius: 80%;

	@include themify() {
		background-color: getThemifyVariable('logo-color');
	}

	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.loader__circle2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {

	0%,
	100% {
		-webkit-transform: scale(0.0)
	}

	50% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes sk-bounce {

	0%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}

	50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}