.login {
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
}

.login-form__email-input,
.login-form__password-input {
	width: #{300 / $base-font-size}rem;
}

.login-form__field {
	margin: #{20 / $base-font-size}rem 0;
}

.login__divider {
  padding: #{20 / $base-font-size}rem 0;
}
