.modal {
  position: absolute;
  top: #{60 / $base-font-size}rem;
  right: #{400 / $base-font-size}rem;
  z-index: 100;
  outline: none;
}

.modal-content {
  @extend %modal;
  min-height: #{150 / $base-font-size}rem;
  width: #{400 / $base-font-size}rem;
  padding: #{20 / $base-font-size}rem;
  .modal--reduced & {
    //min-height: #{150 / $base-font-size}rem;
  }
}

.modal-content-folder {
  @extend .modal-content;
  height: #{150 / $base-font-size}rem;
}

.modal__exit-button {
  @include icon();
}

.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: #{20 / $base-font-size}rem;
}

.new-file-form, .new-file-folder {
  display: flex;
  flex-wrap: wrap;
}

.new-file-form__name-label, .new-folder-form__name-label {
  @extend %hidden-element;
}

.new-file-form__name-input, .new-folder-form__name-input {
  margin-right: #{10 / $base-font-size}rem;
}

.modal__divider {
  text-align: center;
  margin: #{20 / $base-font-size}rem 0;
}
