.modal {
  position: absolute;
  top: #{60 / $base-font-size}rem;
  right: 50%;
  transform: translate(50%, 0);
  z-index: 100;
  outline: none;
}

.modal-content {
  @extend %modal;
  min-height: #{150 / $base-font-size}rem;
  width: #{500 / $base-font-size}rem;
  padding: #{20 / $base-font-size}rem;
  .modal--reduced & {
    //min-height: #{150 / $base-font-size}rem;
  }
}

.modal-content-folder {
  @extend .modal-content;
  height: #{150 / $base-font-size}rem;
}

.modal__exit-button {
  @include icon();
}

.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: #{20 / $base-font-size}rem;
}

.new-folder-form__input-wrapper,
.new-file-form__input-wrapper {
  display: flex;
}

.upload-file-by-url-form__input-wrapper,
.upload-file-by-url-form__url-label,
.upload-file-by-url-form__url-input {
  display: block;
}

.upload-file-by-url-form__url-input {
  margin-top: 15px;
  width: 100%;
}

.upload-file-by-url-form__submit {
  margin-top: 15px;
  margin-left: auto;
}

.new-file-form__name-label,
.new-folder-form__name-label {
  @extend %hidden-element;
}

.new-file-form__name-input,
.new-folder-form__name-input {
  margin-right: #{10 / $base-font-size}rem;
  flex: 1;
}

input.new-file-form__submit,
input.new-folder-form__submit {
  @include themify() {
    background-color: getThemifyVariable("button-secondary-background-color");
  }
}

.modal__divider {
  text-align: center;
  margin: #{20 / $base-font-size}rem 0;
}
