.modal {
  position: absolute;
  top: #{66 / $base-font-size}rem;
  right: #{400 / $base-font-size}rem;
  z-index: 100;
}

.modal-content {
  @extend %modal;
  height: #{400 / $base-font-size}rem;
  width: #{400 / $base-font-size}rem;
  padding: #{20 / $base-font-size}rem;
  .modal--reduced & {
    height: #{150 / $base-font-size}rem;
  }
}

.modal-content-folder {
  @extend .modal-content;
  height: #{150 / $base-font-size}rem;
}

.modal__exit-button {
  @extend %icon;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: #{20 / $base-font-size}rem;
}

.new-file-form__name-label, .new-folder-form__name-label {
  @extend %hidden-element;
}

.new-file-form__name-input, .new-folder-form__name-input {
  margin-right: #{10 / $base-font-size}rem;
}

.modal__divider {
  text-align: center;
  margin: #{20 / $base-font-size}rem 0;
}

.uploader {
  height: #{200 / $base-font-size}rem;
  width: 100%;
  text-align: center;
}

.share-modal {
  @extend %modal;
  padding: #{20 / $base-font-size}rem;
  width: #{500 / $base-font-size}rem;
}

.share-modal__header {
  display: flex;
  justify-content: space-between;
}

.share-modal__section {
  width: 100%;
  display: flex;
  align-items: center;
  padding: #{10 / $base-font-size}rem 0;
}

.share-modal__label {
  width: #{86 / $base-font-size}rem;
}

.share-modal__input {
  flex: 1;
}