@use "sass:math";

.rtl-nav {
  height: #{math.div(42, $base-font-size)}rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  direction: rtl;

  & button {
    padding: 0;
  }
}

.rtl-nav__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include themify() {
    border-bottom: 1px dashed map-get($theme-map, 'nav-border-color');
  }

  // padding-left: #{math.div(20, $base-font-size)}rem;
}

.rtl-nav__items-left,
.rtl-nav__items-right {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.rtl-nav__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  & button {
    padding: #{math.div(12, $base-font-size)}rem #{math.div(10, $base-font-size)}rem;
  }
}

.rtl-nav__item--no-icon {
  padding-right: #{math.div(15, $base-font-size)}rem;
}

.rtl-nav__item:hover {
  .nav__item-header {
    @include themify() {
      color: getThemifyVariable('nav-hover-color');
    }
  }

  & g,
  & path {
    @include themify() {
      fill: getThemifyVariable('nav-hover-color');
    }
  }

  .rtl-nav__item-header-triangle polygon,
  .rtl-nav__item-header-triangle path {
    @include themify() {
      fill: getThemifyVariable('nav-hover-color');
    }
  }
}

.rtl-nav__item-header:hover {
  @include themify() {
    color: getThemifyVariable('nav-hover-color');
  }

  & g,
  & path {
    @include themify() {
      fill: getThemifyVariable('nav-hover-color');
    }
  }
}

.rtl-nav__item-header-triangle {
  margin-right: #{math.div(5, $base-font-size)}rem;
}

.rtl-nav__dropdown {
  @include themify() {
    color: getThemifyVariable('nav-hover-color');
  }
}

.rtl-nav__item-header-triangle {
  margin-right: #{math.div(5, $base-font-size)}rem;
}

.rtl-nav__dropdown {
  @extend %dropdown-open-right;
  display: none;
  max-height: 60vh;
  overflow-y: auto;

  .rtl-nav__item--open & {
    display: flex;
  }
}

.rtl-nav__items-right {
  padding-right: #{math.div(20, $base-font-size)}rem;

  & .rtl-nav__dropdown {
    width: #{math.div(125, $base-font-size)}rem;
  }
}

.rtl-nav__item-spacer {
  @include themify() {
    color: map-get($theme-map, 'inactive-text-color');
    margin-right: #{math.div(8, $base-font-size)}rem;
  }
}

.rtl-nav__item-or {
  @include themify() {
    color: map-get($theme-map, 'inactive-text-color');
  }
}

.rtl-nav__auth-button {
  padding: #{math.div(10, $base-font-size)}rem;
}

.rtl-nav__dropdown-item {

  & button,
  & a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.rtl-nav__items-left {
  padding-left: #{math.div(20, $base-font-size)}rem;

  & .rtl-nav__dropdown {
    width: #{math.div(125, $base-font-size)}rem;
  }
}

.rtl-nav__back-icon {

  & g,
  & path {
    opacity: 1;

    @include themify() {
      fill: getThemifyVariable('inactive-text-color');
    }
  }

  margin-left: #{math.div(5, $base-font-size)}rem;
}