.new-password-form {
  .new-password--invalid & {
    display: none;
  }
}

.new-password__invalid {
  display: none;
  .new-password--invalid & {
    display: block;
    margin-top: #{40 / $base-font-size}rem;
    margin-bottom: #{80 / $base-font-size}rem;
    @include themify() {
      color: getThemifyVariable('form-navigation-options-color');
    }
  }
}
