.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: hidden;
}

.overlay__content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay__body {
  @extend %modal;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  max-height: 80%;
  max-width: 65%;
  overflow:auto;
}

.overlay__header {
  display: flex;
  justify-content: space-between;
  padding: #{20 / $base-font-size}rem;
  flex: 1 0 auto;
}

.overlay__title {
  font-size: #{21 / $base-font-size}rem;
}

.overlay__close-button {
  @include icon();
  padding: #{3 / $base-font-size}rem 0;
}

/*============================
== Media queries
============================*/

@media only screen and (max-width: 775px) {
  .overlay__body {
    max-width: 70%;
  }
}

@media only screen and (max-width: 718px) {
  .overlay__body {
    max-width: 75%;
  }
}

@media only screen and (max-width: 675px) {
  .overlay__body {
    min-width: 70%;
    max-width: 80%;
    min-height: #{300 / $base-font-size}rem;
    max-height:100%;
  }
}

