// brown: #6C4D13
// black: #333
// blue: #0F9DD7
// pink: #D9328F
// gray: #999999
// dark blue: #318094
// white: #fdfdfd

//numbers
//light gray: #f4f4f4
//dark gray: #b5b5b5

$p5-light-lightbrown: #A67F59;
$p5-light-brown: #704F21;
$p5-light-black: #333;
$p5-light-pink: #D9328F;
$p5-light-gray: #A0A0A0;
$p5-light-lightblue: #00A1D3;
$p5-light-darkblue: #2D7BB6;
$p5-light-white: #FDFDFD;
$p5-light-orange: #EE9900;
$p5-light-lightgray: #E0D7D1;
$p5-light-darkgray: #666666;

$p5-light-gutter: #f4f4f4;
$p5-light-number: #b5b5b5;
$p5-light-selected: rgba(45, 123, 182, 25);
$p5-light-activeline: rgb(207, 207, 207);

.cm-s-p5-light {
  background-color: $p5-light-white;
  color: $p5-light-black;
}

.cm-s-p5-light .cm-comment {
  color: $p5-light-gray;
}

.cm-s-p5-light .cm-def {
  color: $p5-light-darkblue;
}

.cm-s-p5-light .cm-string {
  color: $p5-light-lightblue;
}

.cm-s-p5-light .cm-string-2 {
  color: $p5-light-orange;
}

.cm-s-p5-light .cm-number {
  color: $p5-light-pink;
}

.cm-s-p5-light .cm-keyword {
  color: $p5-light-brown;
}

.cm-s-p5-light .cm-variable {
  color: $p5-light-lightblue;
}

.cm-s-p5-light .cm-variable-2 {
  color: $p5-light-black;
}

.cm-s-p5-light .cm-property {
  color: $p5-light-black;
}

.cm-s-p5-light .cm-atom {
  color: $p5-light-pink;
}

.cm-s-p5-light .cm-operator {
  color: $p5-light-lightbrown;
}

.cm-s-p5-light .cm-linenumber {
  color: $p5-light-number;
}

.cm-s-p5-light .CodeMirror-selected {
  background-color: $p5-light-selected;
}

.cm-s-p5-light .CodeMirror-activeline-background {
  background-color: #F3F3F3;
}

.cm-s-p5-light .CodeMirror-activeline-gutter {
  background-color: #ECECEC;
}

.cm-s-p5-light .cm-error {
  color: #f00;
}

.cm-s-p5-light .CodeMirror-matchingbracket {
  outline: 1px solid $p5-light-number;
  color: black !important;
}

.cm-s-p5-light .cm-qualifier {
  color: $p5-light-lightblue;
}

.cm-s-p5-light .cm-tag {
  color: $p5-light-pink;
}

.cm-s-p5-light .cm-builtin {
  color: $p5-light-lightblue;
}

.cm-s-p5-light .cm-attribute {
  color: $p5-light-lightblue;
}
