.preferences {
	@extend %modal;
	position: absolute;
	top: #{113 / $base-font-size}rem;
	right: #{192 / $base-font-size}rem;
	width: #{640 / $base-font-size}rem;
	height: #{540 / $base-font-size}rem;
	bottom: #{371 / $base-font-size}rem;
	margin-bottom: #{100 / $base-font-size}rem;
	margin-right: #{100 / $base-font-size}rem;
	display: none;
	z-index: 9999;
	padding: #{14 / $base-font-size}rem #{20 / $base-font-size}rem #{2 / $base-font-size}rem  #{20 / $base-font-size}rem ;
	&--selected {
		display: flex;
		flex-direction: column;
	}
	@include themify() {
		background-color: getThemifyVariable('editor-gutter-color');
	}
	outline: none;
}

.preferences__exit-button {
	@include icon();
	padding-top: #{5 / $base-font-size}rem;
	margin-right: #{-6 / $base-font-size}rem;
}

.preference__minus-button,
.preference__plus-button {
	@include themify() {
		@extend %preferences-button;
		width: #{32 / $base-font-size}rem;
		height: #{32 / $base-font-size}rem;
		margin-left: #{6 / $base-font-size}rem;
		line-height: #{40 / $base-font-size}rem;
		& svg {
			width: #{10 / $base-font-size}rem;
		}
	}
}

.preferences__heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	marhin-left: #{19 / $base-font-size}rem;
	@include themify() {
		color: getThemifyVariable('heading-text-color');
	}
}

.preferences__title{
	width: #{90 / $base-font-size}rem;
  	height: #{25 / $base-font-size}rem;
    font-family: Montserrat;
    font-size: #{21 / $base-font-size}rem;
    font-weight: bold;
    text-align: left;
}

.preference__subheadings {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: #{0.1 / $base-font-size}rem;
	@include themify() {
	border-bottom: 1px solid getThemifyVariable('button-border-color');
	}
}


.preference {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: #{12 / $base-font-size}rem;
	& + & {
		@include themify() {
	  	border-top: 1px dashed getThemifyVariable('button-border-color');
	  }
	}
}

.preference__title {
	width: 100%;
	font-size: #{16 / $base-font-size}rem;
	margin-top: #{13 / $base-font-size}rem;
	margin-bottom: #{7 / $base-font-size}rem;
	@include themify() {
		color: getThemifyVariable('heading-text-color');
	}
}

.preference__subtitle {
	@include themify() {
		color: getThemifyVariable('inactive-text-color');
	}
	width: 100%;
	margin-bottom: #{10 / $base-font-size}rem;
	margin-top: 0;
}

.preference__value {
	@include themify() {
		border: #{1 / $base-font-size}rem solid getThemifyVariable('button-border-color');
		background-color: getThemifyVariable('button-background-color');
		color: getThemifyVariable('input-text-color');
	}
	text-align: center;
	border-radius: 0%;
	outline: none;
	width: #{44 / $base-font-size}rem;
	height: #{40 / $base-font-size}rem;
	margin: 0 #{26 / $base-font-size}rem;
	padding: 0;
	font-size: #{16 / $base-font-size}rem;
	font-family: Inconsolata;
}

.preference__label {
	@include themify() {
		color: getThemifyVariable('inactive-text-color');
		&:hover {
			color: getThemifyVariable('primary-text-color');
		}
	}
	margin: #{-15 / $base-font-size}rem 0 0 #{-5 / $base-font-size}rem;
	font-size: #{9 / $base-font-size}rem;
	width: #{44 / $base-font-size}rem;
}

.preference__subheading1 {
	@include themify() {
		color: getThemifyVariable('inactive-text-color');
		&:hover {
			color: getThemifyVariable('primary-text-color');
			border-bottom: #{4 / $base-font-size}rem solid getThemifyVariable('button-background-hover-color');
		}
	}
	font-size: #{12 / $base-font-size}rem;
	height: #{25 / $base-font-size}rem;
	text-align: left;
	margin-top: #{30 / $base-font-size}rem;
	margin-left: #{5 / $base-font-size}rem;
	margin-bottom: #{0.1 / $base-font-size}rem;
	font-family: Montserrat;
	width: #{100 / $base-font-size}rem;
}

.preference__subheading2 {
	@include themify() {
		color: getThemifyVariable('inactive-text-color');
		&:hover {
			color: getThemifyVariable('primary-text-color');
			border-bottom: #{4 / $base-font-size}rem solid getThemifyVariable('button-background-hover-color');
		}
	}
	font-size: #{12 / $base-font-size}rem;
	height: #{25 / $base-font-size}rem;
	text-align: left;
	margin-top: #{30 / $base-font-size}rem;
	margin-left: #{46 / $base-font-size}rem;
	margin-bottom: #{0.1 / $base-font-size}rem;
	font-family: Montserrat;
}

.preference__subheading3 {
	@include themify() {
		color: getThemifyVariable('inactive-text-color');
		&:hover {
			color: getThemifyVariable('primary-text-color');
			border-bottom: #{4 / $base-font-size}rem solid getThemifyVariable('button-background-hover-color');
		}
	}
	font-size: #{12 / $base-font-size}rem;
	height: #{25 / $base-font-size}rem;
	text-align: left;
	margin-top: #{30 / $base-font-size}rem;
	margin-left: #{48 / $base-font-size}rem;
	margin-bottom: #{0.1 / $base-font-size}rem;
	width: #{78 / $base-font-size}rem;
	font-family: Montserrat;
}

.preference__vertical-list {
	display: flex;
	flex-direction: column;
	width: #{44 / $base-font-size}rem;
	padding-left: #{25 / $base-font-size}rem;
}

.preference__radio-button {
	@extend %hidden-element;
}

.preference__option {
	@include themify() {
		@extend %preference-option;
		padding-right: #{44 / $base-font-size}rem;
	}
}

.preference__option:last-child {
	padding-right: 0;
}

.preference__preview-button {
	@include themify() {
		@extend %preference-option;
	}
}

.preference__options {
	display: flex;
}

.preference__radio-button:checked + .preference__option {
	@include themify() {
		//for some reason this won't work for getThemifyVariable
	  color: map-get($theme-map, 'primary-text-color');
	}
}

.preference--hidden {
	@extend %hidden-element;
}

.preference__option.preference__canvas:not(:last-child) {
	padding-right: #{14 / $base-font-size}rem;
}
