.preferences {
	@extend %modal;
	position: absolute;
	top: #{66 / $base-font-size}rem;
	right: #{40 / $base-font-size}rem;
	width: #{336 / $base-font-size}rem;
	display: none;
	padding: #{16 / $base-font-size}rem #{26 / $base-font-size}rem;
	&--selected {
		display: flex;
		flex-direction: column;
	}
}

.preferences__exit-button {
	@extend %icon;
	padding-top: #{5 / $base-font-size}rem;
}

.preference__plus-button {
	@extend %preferences-button;
}

.preference__minus-button {
	@extend %preferences-button;
}

.preferences__heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: #{20 / $base-font-size}rem;
}

.preference {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: #{12 / $base-font-size}rem;
	& + & {
  	border-top: 2px dashed $light-button-border-color;
	}
}

.preference__title {
	width: 100%;
	margin-bottom: #{10 / $base-font-size}rem;
}

.preference__subtitle {
	width: 100%;
	margin-bottom: #{10 / $base-font-size}rem;
	margin-top: 0;
	color: $light-inactive-text-color;
}

.preference__value {
	border: 2px solid $light-button-border-color;
	text-align: center;
	border-radius: 0%;
	width: #{48 / $base-font-size}rem;
	height: #{44 / $base-font-size}rem;
	margin: 0 #{28 / $base-font-size}rem;
	padding: 0;
	background-color: $light-button-background-color;
}

.preference__label {
	margin: 0;
	line-height: #{20 / $base-font-size}rem;
	color: $light-inactive-text-color;
	font-size: #{9 / $base-font-size}rem;
	&:hover {
		color: $light-inactive-text-color;
	}
}

.preference__vertical-list {
	display: flex;
	flex-direction: column;
	width: #{90 / $base-font-size}rem;
	padding-left: #{28 / $base-font-size}rem;
}

.preference__radio-button {
	@extend %hidden-element;
}

.preference__option {
	@extend %preference-option;
	list-style-type: none;
	padding: 0;
	&--selected {
		@extend %preference-option--selected;
	}
}

.preference__options {
	display: flex;
	justify-content: space-between;
	width: #{70 / $base-font-size}rem;
}

.preference--hidden {
	@extend %hidden-element;
}
