.preferences {
	@extend %modal;
	position: absolute;
	top: #{60 / $base-font-size}rem;
	right: #{40 / $base-font-size}rem;
	width: #{336 / $base-font-size}rem;
	display: none;
	padding: #{16 / $base-font-size}rem #{26 / $base-font-size}rem;
	&--selected {
		display: flex;
		flex-direction: column;
	}
}

.preferences__exit-button {
	@include themify() {
		@extend %icon;
	}
	padding-top: #{5 / $base-font-size}rem;
}

.preference__plus-button {
	@extend %preferences-button;
}

.preference__minus-button {
	@extend %preferences-button;
}

.preferences__heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: #{20 / $base-font-size}rem;
	@include themify() {
		color: getThemifyVariable('heading-text-color');
	}
}

.preference {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: #{12 / $base-font-size}rem;
	& + & {
		@include themify() {
	  	border-top: 2px dashed getThemifyVariable('button-border-color');
	  }
	}
}

.preference__title {
	width: 100%;
	margin-bottom: #{10 / $base-font-size}rem;
	@include themify() {
		color: getThemifyVariable('heading-text-color');
	}
}

.preference__subtitle {
	@include themify() {
		color: getThemifyVariable('inactive-text-color');
	}
	width: 100%;
	margin-bottom: #{10 / $base-font-size}rem;
	margin-top: 0;
}

.preference__value {
	@include themify() {
		border: 2px solid getThemifyVariable('button-border-color');
		background-color: getThemifyVariable('button-background-color');
		color: getThemifyVariable('input-text-color');
	}
	text-align: center;
	border-radius: 0%;
	width: #{48 / $base-font-size}rem;
	height: #{44 / $base-font-size}rem;
	margin: 0 #{28 / $base-font-size}rem;
	padding: 0;
}

.preference__label {
	@include themify() {
		color: getThemifyVariable('inactive-text-color');
		&:hover {
			color: getThemifyVariable('primary-text-color');
		}
	}
	margin: 0;
	line-height: #{20 / $base-font-size}rem;
	font-size: #{9 / $base-font-size}rem;
}

.preference__vertical-list {
	display: flex;
	flex-direction: column;
	width: #{90 / $base-font-size}rem;
	padding-left: #{28 / $base-font-size}rem;
}

.preference__radio-button {
	@extend %hidden-element;
}

.preference__option {
	@include themify() {
		@extend %preference-option;
		padding-right: #{20 / $base-font-size}rem;
	}
}

.preference__preview-button {
	@include themify() {
		@extend %preference-option;
		padding-left: #{110 / $base-font-size}rem;
	}
}

.preference__options {
	display: flex;
}

.preference__radio-button:checked + .preference__option {
	@include themify() {
		//for some reason this won't work for getThemifyVariable
	  color: map-get($theme-map, 'primary-text-color');
	}
}

.preference--hidden {
	@extend %hidden-element;
}
