@use "sass:math";

.preview-nav__editor-svg {
  & svg {
    width: #{math.div(22, $base-font-size)}rem;
    height: #{math.div(22, $base-font-size)}rem;
    @include themify() {
        fill: getThemifyVariable('button-nav-inactive-color');
    }
    &:hover {
      @include themify() {
        fill: getThemifyVariable('button-background-hover-color');
      }
    }
  }
}

.preview-nav {
  .nav__item {
    margin-left: #{math.div(5, $base-font-size)}rem;
  }
}
