@use "sass:math";

.reset-password__submitted {
  width: #{math.div(360, $base-font-size)}rem;
  display: none;
  text-align: left;
  font-size: #{math.div(12, $base-font-size)}rem;
  margin-top: #{math.div(10, $base-font-size)}rem;
  @include themify() {
    color: getThemifyVariable('form-navigation-options-color');
  }
  padding-right: #{math.div(30, $base-font-size)}rem;
  padding-left: #{math.div(39, $base-font-size)}rem;
  .reset-password--submitted & {
    display: block;
  }
}
