.reset-password__submitted {
  width: #{360 / $base-font-size}rem;
  display: none;
  text-align: left;
  font-size: #{11.65 / $base-font-size}rem;
  margin-top: #{10 / $base-font-size}rem;
  color: $form-navigation-options-color;
  padding-right: #{30 / $base-font-size}rem;
  padding-left: #{41 / $base-font-size}rem;
  .reset-password--submitted & {
    display: block;
  }
}
