.share-modal {
  padding: #{20 / $base-font-size}rem;
  padding-top: 0;
  // width: #{500 / $base-font-size}rem;
  width: 100%;
}

.share-modal__project-name {
  padding-bottom: #{30 / $base-font-size}rem;
  font-size: #{16 / $base-font-size}rem;
}

.share-modal__header {
  display: flex;
  justify-content: space-between;
}

.share-modal__section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: #{10 / $base-font-size}rem 0;
}

/*============================
== Media queries
============================*/

@media only screen and (max-width: 775px) {
  .share-modal__project-name {
    text-align: center;
  }

}
