.share-modal {
  padding: #{30 / $base-font-size}rem;
  width: #{770/ $base-font-size}rem;
  height: #{400 / $base-font-size}rem;
  border-radius: 4px;
}

.share-modal__header {
  display: flex;
  justify-content: space-between;
}

.share-modal__section {
  width: 100%;
  display: flex;
  align-items: center;
  padding: #{5 / $base-font-size}rem 0;
}

.share-modal__label {
  @include themify() {
    color: getThemifyVariable('input-border-color');
  }
  
  width: #{86 / $base-font-size}rem;
  display: inline-block;
  vertical-align: top;
}

.share-modal__input {
  flex: 1;
}

.sketch-name-label {
  font-size: #{16 / $base-font-size}rem;
  line-height: 1.25;
  text-align: left;
  color: $black;
  font-family: Montserrat;
  margin-bottom: #{10 / $base-font-size}rem;
}

#text-field {
  margin-bottom: #{10 / $base-font-size}rem;
}

.talk-bubble {
  margin-top: #{0 / $base-font-size}rem;
  margin-bottom: #{0 / $base-font-size}rem;
  margin-left: #{130 / $base-font-size}rem;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: #{205 / $base-font-size}rem;
  height: auto;
  background-color: $p5js-pink;
}

.hide {
  visibility: hidden;
}

@keyframes display {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.show {
  animation: display 2s;
}

.round{
  border-radius: 5px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;

}

.tri-right.border.btm-left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: #{15 / $base-font-size}rem; 
  right: auto;
  top: auto;
  bottom: -40px;
  border: #{20 / $base-font-size}rem solid;
  border-color: $p5js-pink transparent transparent $p5js-pink;
}

.tri-right.btm-left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: #{100 / $base-font-size}rem;
  right: auto;
  top: auto;
  bottom: -10px;
  border: #{6 / $base-font-size}rem solid;
  border-color: $p5js-pink transparent transparent $p5js-pink;
}

.talktext{
  padding: 0.5em;
  text-align: center;
  line-height: 1.5em;
  color: $white;
}

.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.green {
    background-color: lightgreen;
}

.blue {
    background-color: lightblue;
}