.sidebar__header {
  padding: #{10 / $base-font-size}rem #{6 / $base-font-size}rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $ide-border-color;
  align-items: center;
  height: #{47 / $base-font-size}rem;
}

.sidebar__title {
  font-size: #{16 / $base-font-size}rem;
  display: inline-block;
  .sidebar--contracted & {
    display: none;
  }
  white-space: nowrap;
  overflow: hidden;
}

.sidebar__add {
  @extend %icon;
  cursor: pointer;
  height: #{26 / $base-font-size}rem;
  margin-right: #{16 / $base-font-size}rem;
  font-size: #{24 / $base-font-size}rem;
  .sidebar--contracted & {
    display: none;
  }
}

.sidebar__file-list {
  border-top: 1px solid $ide-border-color;
  .sidebar--contracted & {
    display: none;
  }
}

.sidebar__file-item {
  font-size: #{16 / $base-font-size}rem;
  padding: #{8 / $base-font-size}rem #{20 / $base-font-size}rem;
  color: $light-inactive-text-color;
  cursor: pointer;
  &--selected {
    background-color: $ide-border-color;
  }
  &:hover .sidebar__file-item-name {
    color: $light-primary-text-color;
  }
}

.file-item__content {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.sidebar__file-item-name {
  .sidebar__file-item--editing & {
    display: none;
  }
}

.sidebar__file-item-show-options {
  @extend %icon;
  display: none;
  .sidebar__file-item--selected & {
    display: inline-block;
  }
}

.sidebar__file-item-options {
  @extend %modal;
  position: absolute;
  top: 95%;
  left: 77%;
  display: none;
  z-index: 100;
  padding: #{8 / $base-font-size}rem #{16 / $base-font-size}rem;
  background-color: $light-modal-background-color;
  z-index: 100;
  .sidebar__file-item--open & {
    display: block;
  }
}

.sidebar__file-item-input {
  display: none;
  padding: 0;
  border: 0;
  background-color: transparent;
  max-width: 90%;
  .sidebar__file-item--editing & {
    display: inline-block;
  }
}

.sidebar__contract {
  @extend %icon;
  height: #{14 / $base-font-size}rem;
  & svg {
    height: #{14 / $base-font-size}rem;
  }
  .sidebar--contracted & {
    display: none;
  }
}

.sidebar__expand {
  @extend %icon;
  height: #{14 / $base-font-size}rem;
  & svg {
    height: #{14 / $base-font-size}rem;
  }
  display: none;
  .sidebar--contracted & {
    display: inline-block;
  }
}

.sidebar__icons {
  display: flex;
  align-items: center;
}
