.signup {
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
}

.signup-form__username-input,
.signup-form__email-input,
.signup-form__password-input,
.signup-form__confirm-password-input {
	width: #{360 / $base-font-size}rem;
	height: #{40 / $base-font-size}rem;
}

.signup-form__field {
	margin: 0 0 #{24 / $base-font-size}rem 0;
}

.signup__divider {
  padding: #{20 / $base-font-size}rem 0;
}
