.sketches-table-container {
  overflow-y: auto;
  max-width: 100%;
  min-height: 100%;

  @media (max-width: 770px) {
    @include themify() {
      background-color: getThemifyVariable("modal-background-color");
    }

    .sketches-table {
      display: flex;
      flex-direction: column;
      padding: #{16 / $base-font-size}rem;
      height: 100%;
      overflow-y: auto;

      thead {
        display: none;
      }

      tbody {
        display: flex;
        flex-direction: column;
        gap: #{12 / $base-font-size}rem;

        .sketches-table__row {
          margin: 0;
          position: relative;
          display: flex;
          flex-wrap: wrap;
          padding: #{15 / $base-font-size}rem;
          height: fit-content;
          gap: #{8 / $base-font-size}rem;

          @include themify() {
            border: 1px solid getThemifyVariable("modal-border-color");
            background-color: getThemifyVariable("search-background-color") !important;
          }

          > th {
            padding-left: 0;
            width: 100%;
            font-weight: bold;
            margin-bottom: #{6 / $base-font-size}rem;
          }

          > td {
            padding-left: 0;
            width: 30%;
            font-size: #{14 / $base-font-size}rem;

            @include themify() {
              color: getThemifyVariable("modal-border-color");
            }
          }

          .sketch-list__dropdown-column {
            position: absolute;
            top: 0;
            right: 0;
            width: auto;
            margin: #{8 / $base-font-size}rem;

            .sketch-list__dropdown-button {
              transform: rotateZ(90deg) translateX(-30%);
              transform-origin: center;
            }
          }
        }
      }
    }
  }
}

.sketches-table {
  width: 100%;

  max-height: 100%;
  border-spacing: 0;
  & .sketch-list__dropdown-column {
    width: #{60 / $base-font-size}rem;
    position: relative;
  }
}

.sketches-table__row {
  margin: #{10 / $base-font-size}rem;
  height: #{72 / $base-font-size}rem;
  font-size: #{16 / $base-font-size}rem;
}

.sketches-table__row:nth-child(odd) {
  @include themify() {
    background: getThemifyVariable("table-row-stripe-color");
  }
}

.sketches-table__row > th:nth-child(1) {
  padding-left: #{12 / $base-font-size}rem;
}

.sketches-table__row > td {
  padding-left: #{8 / $base-font-size}rem;
}

.sketches-table__row a {
  @include themify() {
    color: getThemifyVariable("primary-text-color");
  }
}

.sketches-table__row.is-deleted > * {
  font-style: italic;
}

.sketches-table thead {
  font-size: #{12 / $base-font-size}rem;
  @include themify() {
    color: getThemifyVariable("inactive-text-color");
  }
}

.sketches-table th {
  font-weight: normal;
}

.sketch-list__dropdown-button {
  width: #{25 / $base-font-size}rem;
  height: #{25 / $base-font-size}rem;
  @include themify() {
    & polygon,
    & path {
      fill: getThemifyVariable("inactive-text-color");
    }
  }
}

.sketches-table__name {
  display: flex;
  align-items: center;
}

.sketches-table__icon-cell {
  width: #{35 / $base-font-size}rem;
}

.sketch-list__action-dialogue {
  @extend %dropdown-open-right;
  top: 63%;
  right: calc(100% - 26px);
}
