.sketches-table-container {
  overflow-y: scroll;
  max-width: 100%;
  width: #{1000 / $base-font-size}rem;
  min-height: #{400 / $base-font-size}rem;
}

.sketches-table {
  width: 100%;
  padding: #{10 / $base-font-size}rem #{20 / $base-font-size}rem;
  max-height: 100%;
  border-spacing: 0;
  & .sketch-list__trash-column {
    width: #{23 / $base-font-size}rem;
  }
}

.sketches-table thead th {
  height: #{32 / $base-font-size}rem;
}

.sketches-table__row {
  margin: #{10 / $base-font-size}rem;
  height: #{72 / $base-font-size}rem;
  font-size: #{16 / $base-font-size}rem;
  cursor: pointer;
}

.sketches-table__row:nth-child(odd) {
  @include themify() {
    background: getThemifyVariable('console-header-background-color');
  }
}

.sketches-table__row a {
  @include themify() {
    color: getThemifyVariable('primary-text-color');
  }
}


.sketches-table thead {
  font-size: #{12 / $base-font-size}rem;
  @include themify() {
    color: getThemifyVariable('inactive-text-color')
  }
}

.sketches-table th {
  font-weight: normal;
}

.visibility-toggle .sketch-list__trash-button {
  @extend %hidden-element;
  width:#{20 / $base-font-size}rem;
  height:#{20 / $base-font-size}rem;
}

.visibility-toggle:hover .sketch-list__trash-button {
   @include themify() {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: initial;
    left: 0;
    top: 0;
      & g {
        opacity: 1;
        fill: getThemifyVariable('icon-hover-color');
      }
  }
}

.sketches-table__empty {
  text-align: center;
  font-size: #{16 / $base-font-size}rem;
}
