@use "sass:math";

.sketch-visibility {
  text-align: center;
}

sketch-visibility__title {
  color: red;
  text-decoration: underline;
}

.sketch-visibility h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  /* Adjust color as needed */
  margin-bottom: 20px;
}

.sketch-visibility hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  /* Adjust color as needed */
  width: 80%;
}

.sketch-visibility ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  margin-bottom: 20px;
}

.sketch-visibility ul li {
  position: relative;
  padding-left: 20px;
  /* Add padding for the text */
}

.sketch-visibility ul li::before {
  content: "\2022";
  /* Bullet character */
  color: #333;
  /* Adjust color as needed */
  display: inline-block;
  width: 15px;
  /* Increase the width to make the circle bigger */
  height: 15px;
  /* Increase the height to make the circle bigger */
  border-radius: 50%;
  /* Make it a circle */
  background-color: #333;
  /* Adjust color as needed */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.sketch-visibility button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  /* Adjust color as needed */
  color: #fff;
  /* Adjust color as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sketch-visibility button:hover {
  background-color: #0056b3;
  /* Adjust color as needed */
}


.sketches-table-container {
  overflow-y: auto;
  max-width: 100%;
  min-height: 100%;

  @media (max-width: 770px) {
    @include themify() {
      background-color: getThemifyVariable("modal-background-color");
    }

    .sketches-table {
      display: flex;
      flex-direction: column;
      padding: #{math.div(16, $base-font-size)}rem;
      height: 100%;
      overflow-y: auto;

      thead {
        display: none;
      }

      tbody {
        display: flex;
        flex-direction: column;
        gap: #{math.div(12, $base-font-size)}rem;

        .sketches-table__row {
          margin: 0;
          position: relative;
          display: flex;
          flex-wrap: wrap;
          padding: #{math.div(15, $base-font-size)}rem;
          height: fit-content;
          gap: #{math.div(8, $base-font-size)}rem;

          @include themify() {
            border: 1px solid getThemifyVariable("modal-border-color");
            background-color: getThemifyVariable("search-background-color") !important;
          }

          >th {
            padding-left: 0;
            width: 100%;
            font-weight: bold;
            margin-bottom: #{math.div(6, $base-font-size)}rem;
          }

          >td {
            padding-left: 0;
            width: 30%;
            font-size: #{math.div(14, $base-font-size)}rem;

            @include themify() {
              color: getThemifyVariable("modal-border-color");
            }
          }

          .sketches-table__rowname {
            display: flex;
            gap: 5px;
            justify-content: center;
            align-items: center;
          }

          .sketch-list__dropdown-column {
            position: absolute;
            top: 0;
            right: #{math.div(4, $base-font-size)}rem;
            width: auto;
            margin: #{math.div(8, $base-font-size)}rem;
          }
        }
      }
    }
  }
}

.sketches-table {
  width: 100%;

  max-height: 100%;
  border-spacing: 0;

  & .sketch-list__dropdown-column {
    width: #{math.div(60, $base-font-size)}rem;
    position: relative;
  }
}

.sketches-table thead th {
  height: #{math.div(32, $base-font-size)}rem;
  position: sticky;
  top: 0;
  z-index: 1;

  @include themify() {
    background-color: getThemifyVariable("background-color");
  }
}

.sketch-list__sort-button {
  display: flex;
  align-items: center;
  height: #{math.div(35, $base-font-size)}rem;

  & .isvg {
    margin-left: #{math.div(8, $base-font-size)}rem;
  }

  & svg {
    @include themify() {
      fill: getThemifyVariable("inactive-text-color");
    }
  }
}

.sketches-table__header {
  border-bottom: 2px dashed transparent;
  padding: #{math.div(3, $base-font-size)}rem 0;

  @include themify() {
    color: getThemifyVariable("inactive-text-color");
  }
}

.sketches-table__header--selected {
  @include themify() {
    border-color: getThemifyVariable("logo-color");
  }
}

.sketches-table thead th:nth-child(1) {
  padding-left: #{math.div(12, $base-font-size)}rem;
}

.sketches-table__row {
  margin: #{math.div(10, $base-font-size)}rem;
  height: #{math.div(72, $base-font-size)}rem;
  font-size: #{math.div(16, $base-font-size)}rem;
}

.sketches-table__row:nth-child(odd) {
  @include themify() {
    background: getThemifyVariable("table-row-stripe-color");
  }
}

.sketches-table__row>th:nth-child(1) {
  padding-left: #{math.div(12, $base-font-size)}rem;
}

.sketches-table__row>td {
  padding-left: #{math.div(8, $base-font-size)}rem;
}

.sketches-table__row a {
  @include themify() {
    color: getThemifyVariable("primary-text-color");
  }
}

.sketches-table__row.is-deleted>* {
  font-style: italic;
}

.sketches-table thead {
  font-size: #{math.div(12, $base-font-size)}rem;

  @include themify() {
    color: getThemifyVariable("inactive-text-color");
  }
}

.sketches-table th {
  font-weight: normal;
}

.sketches-table__name {
  display: flex;
  align-items: center;
}

.sketches-table__icon-cell {
  width: #{math.div(35, $base-font-size)}rem;
}

.sketches-table__empty {
  text-align: center;
  font-size: #{math.div(16, $base-font-size)}rem;
  padding: #{math.div(42, $base-font-size)}rem 0;
}