.sketch-list {
  @extend %modal;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  width: #{1000 / $base-font-size}rem;
  height: 80%;
  outline: none;
}

.sketch-list__header {
  display: flex;
  justify-content: space-between;
}

.sketch-list__header h2 {  
  font-size: #{21 / $base-font-size}rem;
  padding: #{40 / $base-font-size}rem #{16 / $base-font-size}rem #{12 / $base-font-size}rem #{21 / $base-font-size}rem;
}

.sketch-list__header h2 {  
  font-size: #{21 / $base-font-size}rem;
}

.sketches-table-container {
  flex: 1 0 0%;
  overflow-y: scroll;
}

.sketches-table {
  width: 100%;
  padding: #{10 / $base-font-size}rem #{20 / $base-font-size}rem;
  max-height: 100%;
  border-spacing: 0;
  & .sketch-list__trash-column {
    width: #{22 / $base-font-size}rem;
  }
}

.sketches-table thead th {
  height: #{32 / $base-font-size}rem;
}

.sketches-table__row {
  margin: #{10 / $base-font-size}rem;
  height: #{72 / $base-font-size}rem;
  font-size: #{16 / $base-font-size}rem;
}

.sketches-table__row:nth-child(odd) {
  @include themify() {
    background: getThemifyVariable('console-header-background-color');
  }
}

.sketches-table__row a {
  @include themify() {
    color: getThemifyVariable('primary-text-color');
  }
}


.sketches-table thead {
  font-size: #{12 / $base-font-size}rem;
  @include themify() {
    color: getThemifyVariable('inactive-text-color')
  }
}

.sketches-table th {
  font-weight: normal;
}

.sketch-list__exit-button {
  @include themify() {
    @extend %icon;
  }
  margin: #{12 / $base-font-size}rem #{16 / $base-font-size}rem;
}

.visibility-toggle .sketch-list__trash-button {
  @extend %hidden-element;
}

.visibility-toggle:hover .sketch-list__trash-button {
   @include themify() {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: initial;
    left: 0;
    top: 0;
    width:#{20 / $base-font-size}rem;
    height:#{20 / $base-font-size}rem;
      & g {
        opacity: 1;
        fill: getThemifyVariable('icon-hover-color');
      }
  }
}
