@use "sass:math";

.skip_link {
  left: 50%;
  transform: translateX(-50%);
  top: 1%;
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  border-radius: 3px;
  white-space: nowrap;
  vertical-align: middle;
  background-color: transparent;
  font-size: #{math.div(12, $base-font-size)}rem;
  line-height: #{math.div(50, $base-font-size)}rem;line-height: 11px;
  padding: #{math.div(10, $base-font-size)}rem #{math.div(10, $base-font-size)}rem;
  background: #fff;
  display: inline-block;
  text-transform: uppercase;
  transition: none;
  z-index: 5;
}

.skip_link:focus {
  clip: auto;
  overflow: visible;
  width: auto;
  height: auto;
}
