.toast {
  background-color: $toast-background-color;
  color: $toast-text-color;
  padding: #{10 / $base-font-size}rem;
  position: absolute;
  bottom: 5vh;
  left: 5vh;
  font-size: #{20 / $base-font-size}rem;
  line-height: #{24 / $base-font-size}rem;
  display: flex;
  z-index: 9999;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.10);
}

.toast__close {
  @include themify() {
    @extend %icon-toast;
  }
  line-height: #{16 / $base-font-size}rem;
  padding-top: #{10 / $base-font-size}rem;
  margin-left: #{40 / $base-font-size}rem;
}