.tooltip-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.tooltip-wrapper .tooltipped::after {
  @include themify() {
    background-color: getThemifyVariable('button-background-hover-color');
    color: getThemifyVariable('button-hover-color');
  }
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  max-width: 250px;
  width: max-content;
  white-space: nowrap;
  position:absolute;
  bottom: 100%;
  margin-bottom: 8px;
  left: auto;
  right: -0.5rem;
  transform: translateX(0);
  text-align: right;
  word-wrap: break-word;
}

.tooltip-wrapper .tooltipped-n::before,
.tooltip-wrapper .tooltipped::before {
  @include themify() {
    color: getThemifyVariable('button-background-hover-color');
    border-top-color: getThemifyVariable('button-background-hover-color');
  }
  content: "";
  left: auto;
  position: absolute;
  bottom: 100%;
  margin-bottom: 2px;
  right: 0.25rem;
  transform: translateX(0);
  border: 6px solid transparent;
  @include themify() {
    border-top-color: getThemifyVariable('button-background-hover-color');
  }
}


