.toolbar__play-button {
	@include themify() {
		@extend %toolbar-button;
		&--selected {
			@extend %toolbar-button--selected;
		}
		&:disabled {
			cursor: auto;
			& g {
				fill: getThemifyVariable('button-border-color');
			}
			&:hover {
				background-color: getThemifyVariable('toolbar-button-background-color');
				& g {
					fill: getThemifyVariable('button-border-color');
				}
			}
	    }
	}
	margin-left: auto;
	& span {
		padding-left: #{1 / $base-font-size}rem;
	}
}

.toolbar__play-sketch-button {
	@extend %hidden-element;
}

.toolbar__stop-button {
	@include themify() {
		@extend %toolbar-button;
		margin-left: #{20 / $base-font-size}rem;
		margin-right: #{20 / $base-font-size}rem;
		&--selected {
			@extend %toolbar-button--selected;
		}
	}
}

.toolbar__preferences-button {
	@include themify() {
		@extend %toolbar-button;
		line-height: #{52 / $base-font-size}rem;
		&--selected {
			@extend %toolbar-button--selected;
			line-height: #{52 / $base-font-size}rem;
		}
	}
	line-height: #{52 / $base-font-size}rem;
	// margin-left: auto;
	// & span {
	// 	padding-left: #{1 / $base-font-size}rem;
	// }
	margin-right: #{1 / $base-font-size}rem;
	& span {
		padding-left: #{1 / $base-font-size}rem;
	}
}

.toolbar__logo {
	margin-right: #{30 / $base-font-size}rem;
	@include themify() {
		& g {
			fill: getThemifyVariable('logo-color');
		}
	}
}

.toolbar {
	margin-left: #{10 / $base-font-size}rem;
	padding: #{8 / $base-font-size}rem #{10 / $base-font-size}rem;
	display: flex;
	align-items: center;

	@include themify() {
    border-bottom: 1px dashed map-get($theme-map, 'inactive-text-color');
  }
}

.toolbar__project-name-container {
	@include themify() {
		border-color: getThemifyVariable('inactive-text-color');
	}
	margin-right: #{90 / $base-font-size}rem;
	padding-left: #{10 / $base-font-size}rem;
	height: 70%;
  display: flex;
  align-items: center;
}

.toolbar__project-name {
	@include themify() {
		color: getThemifyVariable('logo-color');
		&:hover {
		color: getThemifyVariable('primary-text-color');
		  & .toolbar__edit-name-button path {
		  	fill: getThemifyVariable('primary-text-color');
		  }
		}
	}
	cursor: pointer;
	line-height: #{18 / $base-font-size}rem;

	.toolbar__project-name-container--editing & {
		display: none;
	}
}

.toolbar__project-name-input {
	display: none;
	border: 0px;
	.toolbar__project-name-container--editing & {
		display: block;
	}
}

.toolbar__project-owner {
	margin-left: #{5 / $base-font-size}rem;
	@include themify() {
		color: getThemifyVariable('inactive-text-color');
	}
}

.toolbar__autorefresh {
	// margin-right: #{300 / $base-font-size}rem;
	margin-right: auto;
}

.toolbar__autorefresh-label {
	@include themify() {
		color: getThemifyVariable('primary-text-color');
	}
	margin-left: #{5 / $base-font-size}rem;
	font-size: #{12 / $base-font-size}rem;
}

.toolbar__serve-secure {
	margin-left: #{20 / $base-font-size}rem;
}

.toolbar__serve-secure-label {
	@include themify() {
		color: getThemifyVariable('inactive-text-color');
	}
	margin-left: #{5 / $base-font-size}rem;
	font-size: #{12 / $base-font-size}rem;
}

.toolbar__serve-secure-help {
	display: inline-block;
	padding-top: 0;
	padding-bottom: 0;
	& svg {
		width: #{10 / $base-font-size}rem;
		height: #{10 / $base-font-size}rem;
	}
	@include themify() {
		& path {
			fill: getThemifyVariable('inactive-text-color');
		}
	}
}

.toolbar__edit-name-button {
	display: inline-block;
	vertical-align: top;
	height: #{18 / $base-font-size}rem;
	margin-left: #{-4 / $base-font-size}rem;
	& svg {
		transform: scaleX(-1);
		width: #{18 / $base-font-size}rem;
		height: #{18 / $base-font-size}rem;
	}
	@include themify() {
		& path {
			fill: getThemifyVariable('logo-color');
		}
	}
}
