{
  "presets": ["react", "env", "stage-0"],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-remove-console"
      ],
      "presets": ["env", "react", "react-optimize", "stage-0"]
    }
  }
}