.DS_Store
.env
.vscode/
node_modules/
npm-debug.log
dump.rdb
public/*
static/dist/
static/css/app.min.css
alpha_editor_p5js_org.key
alpha_editor_p5js_org.ca-bundle
alpha_editor_p5js_org.crt
cert_chain.crt
localhost.crt
localhost.key
privkey.pem
