language = "nodejs"
entrypoint = "index.js"
run = "npm run start:replit"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = false

[languages.javascript]
pattern = "**/*.js"
syntax = "javascript"

[languages.javascript.languageServer]
start = [ "typescript-language-server", "--stdio" ]
