.app {
	display: flex;
	flex-direction: row;
	height: 100%;
	flex-wrap: wrap;
}

.editor-holder {
	width: 50%;
	height: 100%;
}

.preview-frame {
	width: 50%;
}

.toolbar {
	width: 100%;
}

.preferences {
	width: 22.5%;
	position: absolute;
	top: #{20 / $base-font-size}rem;
	right:#{60 / $base-font-size}rem;
}
