@use "sass:math";

.dashboard-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  max-width: #{math.div(1012, $base-font-size)}rem;
  margin: 0 auto;
  width: 100%;

  @media (min-width: 770px) {
    @include themify() {
      border: 1px solid getThemifyVariable('modal-border-color');
    }
  }
}
