.dashboard {
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include themify() {
    color: getThemifyVariable('primary-text-color');
    background-color: getThemifyVariable('background-color');
  }
}
