.fullscreen-preview {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column;
  @include themify() {
    background-color: getThemifyVariable('background-color');
  }
}

.fullscreen-preview__header {
  text-align: center;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  margin-bottom: 5px;
}

.fullscreen-preview__title {
  width: 100%;
  @include themify() {
    color: getThemifyVariable('logo-color');
  }
}

.fullscreen-preview__message {
  @include themify() {
    color: getThemifyVariable('primary-text-color');
  }
}

.fullscreen-preview__frame-wrapper {
  width: 100%;
  flex: 1 0 0%;
  display: flex;
  justify-content: center;
  position: relative;
}

