.editor-preview-container {
  width: 100%;
  flex: 1 0 0px;
  display: flex;
  position: relative;

  // create a stacking context to isolate z-index layering
  z-index: 0;
}

.editor-accessibility {
  @extend %hidden-element;
}

.toolbar {
	width: 100%;
}

.sidebar {
  width: 100%;
  height: 100%;
}
