.editor-preview-container {
  width: 100%;
  flex: 1 0 0px;
  display: flex;
  position: relative;

  // create a stacking context to isolate z-index layering
  z-index: 0;
}

.editor-accessibility {
  @extend %hidden-element;
}

.toolbar {
	width: 100%;
}

.banner {
  width: 100%;
  min-height: 2.2rem;
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
  border-bottom: 1px dashed #A6A6A6;

  @media (max-width: 770px) {
    min-height: 3.3rem;
  }
}

.sidebar {
  width: 100%;
  height: 100%;
}
