.ide {
	display: flex;
	flex-direction: row;
	height: 100%;
	flex-wrap: wrap;
}

.editor-holder {
	flex-grow: 1;
	height: 100%;
}

.preview-frame {
	flex-grow: 1;
}

.toolbar {
	width: 100%;
}

.sidebar {
  width: #{140 / $base-font-size}rem;
}
