.user {
	display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: wrap;
  @include themify() {
    color: getThemifyVariable('primary-text-color');
    background-color: getThemifyVariable('background-color');
  }
}

.login,
.signup,
.reset-password-container,
.new-password-container,
.email-verification {
  height: 100%;
  @include themify() {
    color: getThemifyVariable('primary-text-color');
    background-color: getThemifyVariable('background-color');
  }
}