%toolbar-button {
	background-color: $light-button-background-color;
	color: $light-button-color;
	display: inline-block;
	height: #{44 / $base-font-size}rem;
	width: #{44 / $base-font-size}rem;
	text-align: center;
	border-radius: 100%;
	line-height: #{50 / $base-font-size}rem;
	cursor: pointer;
	border: none;
	outline: none;

	& g {
		fill: $light-toolbar-button-color;
	}

	&:hover {
		background-color: $light-button-background-hover-color;
		color: $light-button-hover-color;

		& g {
			fill: $light-button-hover-color;
		}
	}
	&--selected {
    background-color: $light-button-background-hover-color;
    & g {
        fill: $light-button-hover-color;
    }
  }
}
