.preferences {
	background-color: $light-preferences-background-color;
	display: none;
	font-family: 'Montserrat', sans-serif;
	&--selected {
		display: flex;
	}
}

.preferences__exit-button {
	@extend %preferences-button;
	margin-left: auto;
	background-color: $light-preferences-background-color;

	&:hover {
		background-color: $light-preferences-background-color;
	}
}

.preferences__title-text {
	margin-left: #{20 / $base-font-size}rem;
	font-size: $menu-font-size;
	font-weight: 700;
	font-color: white;
	height: #{44 / $base-font-size}rem;
	line-height: #{44 / $base-font-size}rem;
}
