.preferences {
	background-color: $light-preferences-background-color;
	display: none;
	&--selected {
		display: flex;
	}
}

.preferences__exit-button {
	@extend %preferences-button;
	margin-left: auto;
	background-color: $light-preferences-background-color;

	&:hover {
		background-color: $light-preferences-background-color;
	}
}
