.signup {
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.signup-form__username-label, 
.signup-form__email-label,
.signup-form__password-label,
.signup-form__confirm-password-label {
	display: none;
}

.signup-form__username-input, 
.signup-form__email-input,
.signup-form__password-input,
.signup-form__confirm-password-input {
	width: #{300 / $base-font-size}rem;
}