.toolbar__play-button {
	@extend %toolbar-button;
	margin-right: #{15 / $base-font-size}rem;
	&--selected {
		@extend %toolbar-button--selected;
	}
}

.toolbar__stop-button {
	@extend %toolbar-button;
	&--selected {
		@extend %toolbar-button--selected;
	}
}

.toolbar__logo {
	margin-right: #{30 / $base-font-size}rem;
}

.toolbar {
	padding: #{20 / $base-font-size}rem #{60 / $base-font-size}rem;
	display: flex;
}
