* {
	box-sizing: border-box;
}

html, body {
	font-size: #{$base-font-size}px;
}

body, input, button {
	font-family: 'Avenir Next', Montserrat, sans-serif;
	color: $light-primary-text-color;
}

body {
	background-color: $light-background-color;
}

.root-app, .app {
	min-height: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: $light-inactive-text-color;
	cursor: pointer;
	&:hover {
		text-decoration: none;
		color: $light-primary-text-color;
	}
}

input, button {
	font-size: 1rem;
}

input {
	padding: #{5 / $base-font-size}rem;
	// border-radius: 2px;
	border: 1px solid $input-border-color;
	padding: #{10 / $base-font-size}rem;
}

input[type="submit"] {
	@extend %button;
}

h2 {
	font-size: #{21 / $base-font-size}em;
}

h3 {
	font-weight: normal;
}
h4 {
	font-weight: normal;
}
h6 {
	font-weight: normal;
}
thead {
	text-align: left;
}
