@font-face {
  font-family: 'Avenir Next';
  src: url('./fonts/AvenirNextLTW01-Medium.eot');
  src: url('./fonts/AvenirNextLTW01-Medium.eot?#iefix') format('embedded-opentype'),
       url('./fonts/AvenirNextLTW01-Medium.woff') format('woff'),
       url('./fonts/AvenirNextLTW01-Medium.ttf')  format('truetype'),
       url('./fonts/AvenirNextLTW01-Medium.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('./fonts/AvenirNextLTPro-Demi.eot');
  src: url('./fonts/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
    url('./fonts/AvenirNextLTPro-Demi.woff') format('woff'),
    url('./fonts/AvenirNextLTPro-Demi.ttf') format('truetype'),
    url('./fonts/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
  font-weight: bold;
  font-style: normal;
}


