name: Test

on:
  push
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  test:
    name: Test and lint code base
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - run: npm install
    - run: npm run test
    - run: npm run lint


