%toolbar-button {
	display: inline-block;
	height: #{44 / $base-font-size}rem;
	width: #{44 / $base-font-size}rem;
	text-align: center;
	border-radius: 100%;
	line-height: #{46 / $base-font-size}rem;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: $light-button-background-color;
	color: $light-button-color;
	& g {
		fill: $light-toolbar-button-color;
	}
	&:hover {
		background-color: $light-button-background-hover-color;
		color: $light-button-hover-color;

		& g {
			fill: $light-button-hover-color;
		}
	}
	&--selected {
    background-color: $light-button-background-hover-color;
    & g {
        fill: $light-button-hover-color;
    }
  }
}

%icon {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	color: $light-icon-color;
	& g {
		fill: $light-icon-color;
	}
	&:hover {
		color: $light-icon-hover-color;
		& g {
			opacity: 1;
			fill: $light-icon-hover-color;
		}
	}
}

%button {
	background-color: $light-button-background-color;
	color: $light-button-color;
	cursor: pointer;
	border: 1px solid $light-button-border-color;
	border-radius: 2px;
	padding: #{10 / $base-font-size}rem #{30 / $base-font-size}rem;
	&:hover {
		border-color: $light-button-background-hover-color;
		background-color: $light-button-background-hover-color;
		color: $light-button-hover-color;
	}
	&:active {
		border-color: $light-button-background-active-color;
		background-color: $light-button-background-active-color;
		color: $light-button-active-color;
	}
}

%preferences-button {
	@extend %toolbar-button;
	color: $light-primary-text-color;
	background-color: $light-modal-button-background-color;
	padding: 0;
	line-height: #{50 / $base-font-size}rem;
	& g {
		fill: $light-primary-text-color;
	}
	&:hover {
		background-color: $light-button-background-hover-color;
		color: $light-button-hover-color;
		& g {
			fill: $light-button-hover-color;
		}
	}
}

%fake-link {
	color: $light-inactive-text-color;
	cursor: pointer;
	&:hover {
		color: $light-primary-text-color;
	}
}

%preference-option {
	background-color: $light-button-background-color;
	color: $light-inactive-text-color;
	font-size: #{14 / $base-font-size}rem;
	cursor: pointer;
	text-align: left;
	margin-bottom: #{5 / $base-font-size}rem;
	border: 0px;
	&:hover {
		color: $light-primary-text-color;
	}
	&--selected {
    color: $light-primary-text-color;
  }
}
