$base-font-size: 12;

//colors
$p5js-pink: #ed225d;
$p5js-pink-opacity: #ed225d80;
$p5js-active-pink: #f10046;
$white: #fff;
$black: #000;
$yellow: #f5dc23;
$dodgerblue: #1e90ff;
$p5-contrast-pink: #ffa9d9;

$outline-color: #0f9dd7;

// Grayscale values
$lightest: #fff; // primary
$lighter: #fbfbfb;

$light: #f0f0f0; // primary
$medium-light: #d9d9d9;
$middle-light: #a6a6a6;

// $middle-gray: #7D7D7D; // primary
$middle-gray: #747474; // primary
$middle-dark: #666;
$medium-dark: #4d4d4d;

$dark: #333; // primary
$darker: #1c1c1c;
$darkest: #000;

// Light highlight styles
$p5-light-selected: $medium-light;
$p5-light-activeline: #cfcfcf44;
$p5-light-brown: #7a5a3a;
$p5-light-black: #333333;
$p5-light-pink: #d52889;
$p5-light-gray: #666;
$p5-light-blue: #0b7ca9;
$p5-light-orange: #a06801;
$p5-light-lightgray: $middle-gray;
$p5-light-green: #47820a;

// Dark highlight styles
$p5-dark-selected: $medium-dark;
$p5-dark-activeline: #cfcfcf22;
$p5-dark-pink: #de4a9b;
$p5-dark-gray: #9b9b9b;
$p5-dark-lightblue: #0f9dd7;
$p5-dark-white: #fdfdfd;
$p5-dark-orange: #ee9900;
$p5-dark-green: #58a10b;
$p5-dark-goldbrown: #b58318;

// Contrast highlight styles
$p5-contrast-selected: $middle-dark;
$p5-contrast-activeline: #333333aa;
$p5-contrast-white: #fdfdfd;
$p5-contrast-lightgray: #c1c1c1;
$p5-contrast-blue: #00ffff;
$p5-contrast-green: #2de9b6;
$p5-contrast-yellow: #f5dc23;
$p5-contrast-orange: #ffa95d;
$p5-contrast-pink: #ffa9d9;

$themes: (
  light: (
    activeline-background-color: $p5-light-activeline,
    admonition-background: #e4f8ff,
    admonition-border: #22c8ed,
    admonition-text: #075769,
    background-color: $lighter,
    button-active-color: $lightest,
    button-background-active-color: $p5js-active-pink,
    button-background-color: $light,
    button-background-hover-color: $p5js-pink,
    button-border-color: $middle-light,
    button-color: $black,
    button-hover-color: $lightest,
    button-nav-active-color: $darker,
    button-nav-inactive-color: $middle-dark,
    button-secondary-background-color: $medium-light,
    codefold-icon-closed: url('../images/triangle-arrow-right.svg?byUrl'),
    codefold-icon-open: url('../images/triangle-arrow-down.svg?byUrl'),
    console-active-arrow-color: #0071ad,
    console-arrow-color: $middle-gray,
    console-background-color: $light,
    console-color: $darker,
    console-header-background-color: $medium-light,
    console-header-color: $darker,
    console-input-background-color: $lightest,
    editor-gutter-color: $lighter,
    error-color: $p5js-pink,
    file-hover-color: $light,
    file-selected-color: $medium-light,
    form-input-placeholder-text-color: $middle-gray,
    form-input-text-color: $dark,
    form-navigation-options-color: $middle-dark,
    form-secondary-title-color: $medium-dark,
    form-title-color: rgba(51, 51, 51, 0.87),
    heavy-text-color: $darker,
    highlight-style-comment-color: $p5-light-lightgray,
    highlight-style-variable-color: $p5-light-blue,
    highlight-style-string-color: $p5-light-green,
    highlight-style-regexp-color: $p5-light-orange,
    highlight-style-number-color: $p5-light-black,
    highlight-style-atom-color: $p5-light-pink,
    highlight-style-keyword-color: $p5-light-brown,
    highlight-style-operator-color: $p5-light-brown,
    highlight-style-def-color: $p5-light-blue,
    highlight-style-tag-color: $p5-light-pink,
    highlight-style-property-color: $p5-light-black,
    highlight-style-attribute-color: $p5-light-black,
    highlight-style-matching-selection-background-color: $p5js-pink-opacity,
    hint-arrow-background-active-color: $p5js-active-pink,
    hint-arrow-background-color: #ed225ddd,
    hint-arrow-color: $lightest,
    hint-arrow-focus-outline-color: $middle-dark,
    hint-background-color: $white,
    hint-fun-active-border-bottom-color: #0b7ca9,
    hint-fun-text-color: #0b7ca9,
    hint-inline-text-color-light: $middle-light,
    hint-inline-text-color: $middle-gray,
    hint-item-active-background-color: $middle-gray,
    hint-item-active-outline-offset: 0,
    hint-item-active-outline: none,
    hint-item-active-text-color: $white,
    hint-item-active-type-text-color: $white,
    hint-item-border-bottom-color: $white,
    hint-item-hover-background-color: #f4f4f4,
    hint-keyword-text-color: #7a5a3a,
    hint-no-link-background-color: $medium-light,
    hint-text-color: $dark,
    hint-type-text-color: $medium-dark,
    hint-var-active-border-bottom-color: #d52889,
    hint-var-text-color: #d52889,
    icon-color: $middle-gray,
    icon-hover-color: $darker,
    icon-toast-hover-color: $lightest,
    ide-border-color: $medium-light,
    inactive-text-color: $middle-dark,
    input-background-color: $lightest,
    input-border-color: $middle-dark,
    input-placeholder-color: $middle-dark,
    input-secondary-background-color: $lightest,
    input-selection-background-color: $medium-light,
    input-selection-text-color: $dark,
    input-text-color: $dark,
    keyboard-shortcut-color: $middle-gray,
    logo-background-color: $lightest,
    logo-color: $p5js-pink,
    modal-background-color: $light,
    modal-border-color: $middle-light,
    modal-button-color: $dark,
    nav-border-color: $middle-light,
    nav-hover-color: $p5js-pink,
    preferences-button-background-color: $medium-light,
    preferences-warning-color: $p5js-pink,
    primary-text-color: $dark,
    progress-bar-active-color: $p5js-active-pink,
    progress-bar-background-color: $light,
    progress-bar-border-color: $middle-gray,
    search-background-color: $lightest,
    search-clear-background-color: $light,
    search-hover-background-color: $medium-dark,
    search-hover-text-color: $lightest,
    secondary-text-color: $medium-dark,
    selected-background-color: $p5-light-selected,
    shadow-color: rgba(0, 0, 0, 0.16),
    table-button-active-color: $lightest,
    table-button-background-active-color: #00a1d3,
    table-button-background-color: $middle-gray,
    table-button-background-hover-color: $p5js-pink,
    table-button-color: $lightest,
    table-button-hover-color: $lightest,
    table-row-stripe-color-alternate: $medium-light,
    table-row-stripe-color: $medium-light,
    toast-background-color: $medium-dark,
    toast-text-color: $lightest,
    toolbar-button-background-color: $medium-light,
    toolbar-button-color: $dark
  ),
  dark: (
    activeline-background-color: $p5-dark-activeline,
    admonition-background: #105a7f,
    admonition-border: #22c8ed,
    admonition-text: #ffffff,
    background-color: $darker,
    button-active-color: $lightest,
    button-background-active-color: $p5js-active-pink,
    button-background-color: $dark,
    button-background-hover-color: $p5js-pink,
    button-border-color: $middle-dark,
    button-color: $light,
    button-hover-color: $lightest,
    button-nav-active-color: $lightest,
    button-nav-inactive-color: $middle-light,
    button-secondary-background-color: $medium-dark,
    codefold-icon-closed: url('../images/triangle-arrow-right-white.svg?byUrl'),
    codefold-icon-open: url('../images/triangle-arrow-down-white.svg?byUrl'),
    console-active-arrow-color: #097bb3,
    console-arrow-color: $medium-light,
    console-background-color: $dark,
    console-color: $lightest,
    console-header-background-color: $medium-dark,
    console-header-color: $lightest,
    console-input-background-color: $darker,
    editor-gutter-color: $darker,
    error-color: $p5js-pink,
    file-hover-color: $dark,
    file-selected-color: $medium-dark,
    form-input-placeholder-text-color: $middle-gray,
    form-navigation-options-color: $middle-light,
    form-secondary-title-color: $medium-light,
    form-title-color: $lightest,
    heavy-text-color: $lightest,
    highlight-style-comment-color: $p5-dark-gray,
    highlight-style-variable-color: $p5-dark-lightblue,
    highlight-style-string-color: $p5-dark-green,
    highlight-style-regexp-color: $p5-dark-orange,
    highlight-style-number-color: $p5-dark-white,
    highlight-style-atom-color: $p5-dark-pink,
    highlight-style-keyword-color: $p5-dark-goldbrown,
    highlight-style-operator-color: $p5-dark-goldbrown,
    highlight-style-def-color: $p5-dark-lightblue,
    highlight-style-tag-color: $p5-dark-pink,
    highlight-style-property-color: $p5-dark-white,
    highlight-style-attribute-color: $p5-dark-lightblue,
    highlight-style-matching-selection-background-color: $p5js-pink-opacity,
    hint-arrow-background-active-color: $p5js-active-pink,
    hint-arrow-background-color: #ed225ddd,
    hint-arrow-color: $lightest,
    hint-arrow-focus-outline-color: #cfcfcf,
    hint-background-color: $darker,
    hint-fun-active-border-bottom-color: #0f9dd7,
    hint-fun-text-color: #0f9dd7,
    hint-inline-text-color-light: $middle-gray,
    hint-inline-text-color: #cfcfcf,
    hint-item-active-background-color: #cfcfcf,
    hint-item-active-outline-offset: 0,
    hint-item-active-outline: none,
    hint-item-active-text-color: $darker,
    hint-item-active-type-text-color: $darker,
    hint-item-border-bottom-color: $darker,
    hint-item-hover-background-color: $medium-dark,
    hint-keyword-text-color: #b58318,
    hint-no-link-background-color: $medium-dark,
    hint-text-color: $light,
    hint-type-text-color: $light,
    hint-var-active-border-bottom-color: #de4a9b,
    hint-var-text-color: #de4a9b,
    icon-color: $middle-light,
    icon-hover-color: $lightest,
    icon-toast-hover-color: $lightest,
    ide-border-color: $middle-dark,
    inactive-text-color: $middle-light,
    input-background-color: $dark,
    input-border-color: $light,
    input-placeholder-color: $middle-light,
    input-secondary-background-color: $medium-dark,
    input-selection-background-color: $lightest,
    input-selection-text-color: $darkest,
    input-text-color: $lightest,
    keyboard-shortcut-color: $middle-light,
    logo-background-color: $lightest,
    logo-color: $p5js-pink,
    modal-background-color: $dark,
    modal-border-color: $middle-dark,
    modal-button-color: $lightest,
    nav-border-color: $middle-dark,
    nav-hover-color: $p5js-pink,
    preferences-button-background-color: $middle-dark,
    preferences-warning-color: $yellow,
    primary-text-color: $lightest,
    progress-bar-active-color: $p5js-active-pink,
    progress-bar-background-color: $darker,
    progress-bar-border-color: $middle-gray,
    search-background-color: $darker,
    search-clear-background-color: $medium-dark,
    search-hover-background-color: $p5js-pink,
    search-hover-text-color: $lightest,
    secondary-text-color: $medium-light,
    selected-background-color: $p5-dark-selected,
    shadow-color: rgba(0, 0, 0, 0.16),
    table-button-active-color: $lightest,
    table-button-background-active-color: #00a1d3,
    table-button-background-color: $middle-gray,
    table-button-background-hover-color: $p5js-pink,
    table-button-color: $lightest,
    table-button-hover-color: $lightest,
    table-row-stripe-color-alternate: $darker,
    table-row-stripe-color: $dark,
    toast-background-color: $medium-light,
    toast-text-color: $dark,
    toolbar-button-background-color: $medium-dark,
    toolbar-button-color: $lightest
  ),
  contrast: (
    activeline-background-color: $p5-contrast-activeline,
    admonition-background: #000000,
    admonition-border: #22c8ed,
    admonition-text: #ffffff,
    background-color: $darker,
    button-active-color: $dark,
    button-background-active-color: $yellow,
    button-background-color: $dark,
    button-background-hover-color: $yellow,
    button-border-color: $middle-dark,
    button-color: $light,
    button-hover-color: $dark,
    button-nav-active-color: $lightest,
    button-nav-inactive-color: $middle-light,
    button-secondary-background-color: $medium-dark,
    codefold-icon-closed: url('../images/triangle-arrow-right-white.svg?byUrl'),
    codefold-icon-open: url('../images/triangle-arrow-down-white.svg?byUrl'),
    console-active-arrow-color: $dodgerblue,
    console-arrow-color: $lightest,
    console-background-color: $dark,
    console-color: $lightest,
    console-header-background-color: $medium-dark,
    console-header-color: $lightest,
    console-input-background-color: $darker,
    editor-gutter-color: $darker,
    error-color: $p5-contrast-pink,
    file-hover-color: $dark,
    file-selected-color: $medium-dark,
    form-navigation-options-color: $middle-light,
    form-secondary-title-color: $medium-light,
    form-title-color: $lightest,
    heavy-text-color: $yellow,
    highlight-style-comment-color: $p5-contrast-lightgray,
    highlight-style-variable-color: $p5-contrast-blue,
    highlight-style-string-color: $p5-contrast-green,
    highlight-style-regexp-color: $p5-contrast-green,
    highlight-style-number-color: $p5-contrast-pink,
    highlight-style-atom-color: $p5-contrast-pink,
    highlight-style-keyword-color: $p5-contrast-yellow,
    highlight-style-operator-color: $p5-contrast-lightgray,
    highlight-style-def-color: $p5-contrast-blue,
    highlight-style-tag-color: $p5-contrast-orange,
    highlight-style-property-color: $p5-contrast-white,
    highlight-style-attribute-color: $p5-contrast-white,
    highlight-style-matching-selection-background-color: $medium-dark,
    hint-arrow-background-active-color: #f5dc23,
    hint-arrow-background-color: #f5dc23dd,
    hint-arrow-color: $darker,
    hint-arrow-focus-outline-color: $lighter,
    hint-background-color: $darkest,
    hint-fun-active-border-bottom-color: none,
    hint-fun-text-color: #00ffff,
    hint-inline-text-color-light: $middle-gray,
    hint-inline-text-color: #cfcfcf,
    hint-item-active-background-color: unset,
    hint-item-active-outline-offset: -2px,
    hint-item-active-outline: 2px solid $lighter,
    hint-item-active-text-color: $lighter,
    hint-item-active-type-text-color: $lighter,
    hint-item-border-bottom-color: $medium-dark,
    hint-item-hover-background-color: $dark,
    hint-keyword-text-color: #f5dc23,
    hint-no-link-background-color: $medium-dark,
    hint-text-color: $medium-light,
    hint-type-text-color: $middle-light,
    hint-var-active-border-bottom-color: none,
    hint-var-text-color: #ffa9d9,
    icon-color: $medium-light,
    icon-hover-color: $yellow,
    icon-toast-hover-color: $yellow,
    ide-border-color: $middle-dark,
    inactive-text-color: $light,
    input-background-color: $dark,
    input-border-color: $light,
    input-placeholder-color: $light,
    input-secondary-background-color: $medium-dark,
    input-selection-background-color: $lightest,
    input-selection-text-color: $darkest,
    input-text-color: $lightest,
    keyboard-shortcut-color: $middle-light,
    logo-background-color: $darker,
    logo-color: $yellow,
    modal-background-color: $dark,
    modal-border-color: $middle-dark,
    modal-button-color: $dark,
    nav-border-color: $middle-dark,
    nav-hover-color: $yellow,
    preferences-button-background-color: $medium-light,
    preferences-warning-color: $yellow,
    primary-text-color: $lightest,
    progress-bar-active-color: $yellow,
    progress-bar-background-color: $darker,
    progress-bar-border-color: $middle-light,
    search-background-color: $darker,
    search-clear-background-color: $medium-dark,
    search-hover-background-color: $yellow,
    search-hover-text-color: $dark,
    secondary-text-color: $lighter,
    selected-background-color: $p5-contrast-selected,
    shadow-color: rgba(0, 0, 0, 0.16),
    table-button-active-color: $dark,
    table-button-background-active-color: #00ffff,
    table-button-background-color: $middle-gray,
    table-button-background-hover-color: $yellow,
    table-button-color: $dark,
    table-button-hover-color: $dark,
    table-row-stripe-color-alternate: $darker,
    table-row-stripe-color: $dark,
    toast-background-color: $medium-light,
    toast-text-color: $darker,
    toolbar-button-background-color: $medium-light,
    toolbar-button-color: $dark
  )
);
